<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="{% static 'js/audio.js' %}"></script>
</head>

<body class="Paciente gradient">
    <ul class="sidenav" id="mobile-demo">
        <li><a class="dropdown-trigger" href="#" data-target="dropdown"> Medidas no farmacológicas <i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id='dropdown' class='dropdown-content' style="color: #333">
            <li><a class="modal-trigger" href="#modalRem"> Reminiscencia </a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="modal-trigger" href="#modalEntCogn"> Sopa de Letras </a></li>
        </ul>
        <li><a class="modal-trigger" href="#modalSc"> Tamizaje </a></li>
        <li><a href="{% url 'Reportes' token=access tipo=tipo %}"> Resultados </a></li>
        <li><a class='dropdown-trigger' href='#' data-target='dropdown5'> Perfil <i class="material-icons right">arrow_drop_down</i> </a></li>
        <ul id='dropdown5' class='dropdown-content' style="color: #333">
            <li><a href="{% url 'editarP' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
        </ul>
    </ul>
    <div class="navbar-fixed">
        <nav class="green lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo white-text titulo"> Zeitgeist </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"> menu
                    </i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#" data-target="dropdown1"> Medidas no farmacológicas <i
                                class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id='dropdown1' class='dropdown-content' style="color: #333">
                        <li><a class="modal-trigger" href="#modalRem"> Reminiscencia </a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a class="modal-trigger" href="#modalEntCogn"> Sopa de Letras </a></li>
                    </ul>
                    <li><a class="modal-trigger" href="#modalSc"> Tamizaje </a></li>
                    <li><a href="{% url 'Reportes' token=access tipo=tipo %}"> Resultados </a></li>
                    <li><a class='dropdown-trigger' href='#' data-target='dropdown2'> Perfil<i
                                class="material-icons left">account_circle</i></a></li>
                        <ul id='dropdown2' class='dropdown-content' style="color: #333">
                            <li><a href="{% url 'editarP' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
                        </ul>
                </ul>
            </div>
        </nav>
    </div>
 

    <div id="modalCerrarSesion" class="modal">
        <div class="modal-content">
            <h4 style="text-align: center;">¿Está seguro de cerrar la sesión?</h4>
            <hr><br>
            <h6 style="text-align: center;"> Si es así, apriete el botón "Aceptar", en caso contrario presione
                "Cancelar". </h6>
            <br>
            <div class="row">
                <div class="col s6 center">
                    <a href="{% url 'cerrarSesion'%}" class="waves-effect waves-green btn-flat"
                        style="color: #fff; background-color: rgb(33, 185, 33);" name="cerrarSesion">&nbsp; Aceptar
                        &nbsp;</a>
                </div>
                <div class="col s6 center">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat"
                        style="color: #fff; background-color: salmon;">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}
    <br><br>
    </div>
    <br><br>
    {% include "Usuarios/footer.html" %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.910.0.min.js"></script>
    <script src="{% static 'js/audio.js' %}"></script>
    <script src="{% static 'js/crono.js' %}"></script>


    <script>
        $(".dropdown-trigger").dropdown();
    </script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('#modalCerrarSesion').modal();
        });
    </script>
    {% if modified %}
     <script>
        $(document).ready(function () {
            M.toast({html: "¡Felicidades, sus datos han sido modificados correctamente!", displayLength: 5500, classes: 'green darken-1 rounded'})
        });
    </script>
     {% endif %}

    <!-- Errores al intentar hacer una modificación de contraseña -->
    {% if  invalid %}
     <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: asegúrese de escribir su contraseña actual correctamente para poder cambiarla.", displayLength: 7600, classes: 'green darken-1 rounded'})
        });
    </script>           
    {% endif %}
    {% if no_match_pdws %}
    <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: la contraseña nueva no coincidió con su confirmación.", displayLength: 7200, classes: 'green darken-1 rounded'})
        });
    </script>    
    {% endif %}
    <!-- Aqui acaban esos errores -->


    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('.materialboxed').materialbox();
            var height = $(window).height();
            var width = $(window).width();
            $('.reactivoRem').height(height);
            $('.reactivoRem').width(width);
            var count = 0;
            $(".btnOmitir").click(function () {
                if (count < 3) {
                    $(this).parents("div").fadeOut(function () {
                        console.log(this);
                        $(this).next().show();
                    });
                    count++;
                } else {
                    var elems = document.getElementById("modalOmit");
                    var instance = M.Modal.getInstance(elems);
                    instance.open();
                }
            });
        });
    </script>
    <script>
        history.backward()
    </script>

    {% block js %}
    {% endblock %}
</body>

</html>
