{% extends "Paciente/basePacientes.html" %}

{% block title%} Inicio Paciente{% endblock %}

{% block content %}

{% load static %}

<header id="principal" class="row img_fondo_inicioP">
  <div class="grid-example col s12">
    <br><br><br><br><br>
    <h1 class="white-text center">¡Hola {{name}}! </h1>
    <h1 class="white-text center">Nos da gusto tenerte de vuelta.</h1>
  </div>
  <div class="col s4 center"></div>
</header>


{% if nota == 'terminadomoca' %}
<div style="background-color: green;" class="container center">
  <h5>¡Felicidades, has terminado tu tamizaje!</h5>
</div>
{% endif %}
<!-- Div si esta mal la clave -->
{% if response == 'novalid' %}
<div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
  <p> Lo sentimos, la clave que ingresó no es válida. Vuelva a intentarlo :(</p>
</div>
{% endif %}
<!--<div class="col s12 m8">
          <div class="card-content center">
            <h4> Nombre: Dr. Alberto Montero Castro </h4>
            <h4> Unidad médica: Hospital General </h4>
            <h4> Recuerde que puede contactarlo por medio de su correo electrónico: correo@dominio.com
              <br> Él siempre está para usted, no dude en acudir a él. </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="grey lighten-5">
  <div class="row center">
	<h3 class="center-align"> ¿Qué desea hacer el día de hoy? </h3>
        <br>
  </div>
</div>

<div class="row color_rojo" style="margin-top: 7%;">
  <div class="row">
    <div class="card-content center">
      <br>
      <h2> ¿Es momento de su prueba periódica? </h2><br>
      <h5> Si está con su médico,  </h5>
      <a href="#modalSc" style="margin-top: 3%" class="waves-effect waves-light btn botones modal-trigger btn-large"> Presione aquí </a>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card-content center">
      <img src="{% static 'images/tamizaje1.jpg' %}" class="responsive-image" style="min-height: 100%; min-width: 100%"  alt="Tamizaje.jpg">
    </div>
  </div>
</div>

  
<div class="grey accent-1" style="margin-top: 10%" >
  <div class="section">
    <div class="row">
      <h4 class="center-align"> Actividades para hacer desde la comodidad de su hogar. </h4>
    </div>
    <div class="row">
      <div class="col s6 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-image" src="{% static 'images/reminiscencia.jpg' %}" alt="Reminiscencia.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Reminiscencia<i class="material-icons right">more_vert</i></span>
            <p><a href="#modalRem" class="waves-effect waves-light btn modal-trigger btn-large"> Presione aquí </a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Reminiscencia<i class="material-icons right">close</i></span>
            <p> La Terapia de Reminiscencia (TR) consiste en la discusión de actividades, eventos y experiencias pasadas, generalmente con la ayuda de recuerdos tangibles que sirvan de desencadenantes. Es una de las terapias no farmacológicas más utilizada en los centros de atención a personas con demencia ya que parece especialmente adaptada a sus problemas de memoria, caracterizados por graves dificultades para recordar eventos recientes, pero relativo buen recuerdo de la vida pasada, especialmente de la niñez y la primera etapa de la vida adulta.</p>
          </div>
        </div>
      </div>

      <div class="col s6 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-image" src="{% static 'images/entrenamiento.jpg' %}" alt="Entrenamiento.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Entrenamiento Cognitivo<i class="material-icons right">more_vert</i></span>
            <p><a href="#modalEntCogn" class="waves-effect waves-light btn modal-trigger btn-large"> De clic aquí </a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Entrenamiento Cognitivo<i class="material-icons right">close</i></span>
            <p>El entrenamiento cognitivo o “cognitive training” es una actividad encuadrada dentro de la estimulación cognitiva, y que se refiere al entrenamiento de las capacidades o habilidades cognitivas, definidas como un conjunto de procesos cognitivos que tienen como objetivo general el procesamiento de la información que recibimos en nuestro cerebro. Esta intervención cognitiva es fundamental abordar los déficits cognitivos y para mejorar la reserva cognitiva, y así prevenir el deterioro cognitivo, favoreciendo un envejecimiento saludable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" style="margin-top: 10%">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card-content">
          <img src="{% static 'images/resultado.jpg' %}" class="">
        </div>
      </div>
      <div class="col s12 m8">
        <div class="card-content center color_fondo">
          <br><br>
          <h4> ¡Revise sus mejoras en su tratamiento! </h4>
          <p><a href="{% url 'Reportes' token=access tipo=tipo %}" class="waves-effect waves-light btn botones"> Presione aquí
            </a></p>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal Screening-->
<div id="modalSc" class="modal">
  <div class="modal-content center">
    <h3>¿Está listo/a para empezar con su tamizaje?</h3>
    <hr class="divider" />
    <h5>Ingrese la clave de acceso que le otorgue su doctor: </h5>
    <br>
    <div class="row">
      <form class="col s6 offset-s4" action="{% url 'moca' token=access tipo=tipo %}" method="POST">{% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Escriba aquí la clave" id="cveSc" name="cveSc" type="text" class="validate"
              maxlength="18">
            <label for="cveRem">Clave de acceso</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button class="modal-close btn waves-effect waves-light btn-large" type="submit" required>Comenzar
              <i class="material-icons right">send</i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Reminiscencia -->
<div id="modalRem" class="modal">
  <div class="modal-content center">
    <h3>¿Está listo/a para empezar con su sesión de reminiscencia?</h3>
    <hr class="divider" />
    <h5>Ingrese la clave de acceso que le ha otorgado su cuidador: </h5>
    <br>
    <div class="row">
      <form class="col s6 offset-s4" action="{% url 'reminiscencia-1' token=access tipo=tipo %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Escriba aquí la clave" id="cveRem" name="cveRem" type="text" class="validate"
              maxlength="15">
            <label for="cveRem">Clave de acceso</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button class="modal-close btn waves-effect waves-light btn-large" type="submit" required>Comenzar
              <i class="material-icons right">send</i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<div id="modalDoctorInfo" class="modal">
  <div class="modal-content center">
    {% if doctorName %}
              <h4> Nombre: {{doctorName}} </h4>
              <br>
              <h4> {{doctorInfo}} 
              <br> Él siempre está para usted, no dude en acudir a él. </h4>
            {% else %}
              <h4> ¡Lo sentimos!, este momento usted no tiene un especialista asignado. </h4>
            {% endif %}
  </div>  
</div> -->




<!-- Modal Entrenamiento Cognitivo -->
<div id="modalEntCogn" class="modal">
  <div class="modal-content center">
    <h3>¿Está listo/a para empezar con su sesión de entrenamiento cognitivo (Sopa de letras)?</h3>
    <hr class="divider" />
    <h5>Ingrese la clave de acceso que le otorgue su cuidador: </h5>
    <br>
    <div class="row">
      <form class="col s6 offset-s4" action="{% url 'passEntCogn' token=access tipo=tipo%}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Escriba aquí la clave" id="cveRem" name="cveRem" type="text" class="validate"
              maxlength="15">
            <label for="cveRem">Clave de acceso</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button class="modal-close btn waves-effect waves-light btn-large" type="submit" required>Comenzar
              <i class="material-icons right">send</i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}
