{% extends "Paciente/basePacientes.html" %}

{% block title%} MoCA {% endblock %}

{% block content %}

{% load static %}

<!-- Seccion principal -->
<header id="principal" class="row img_fondo_reminiscencia" style="margin-bottom: 10%;">
    <div class="grid-example col s12">
        <br><br><br><br><br>
        <h1 class="white-text center">¿Listo? </h1>
        <h1 class="white-text center">Está a punto de comenzar su prueba, ponga atención a lo que se le pide.
        </h1>
    </div>
    <div class="col s4 center"></div>
    <div class="col s4 center">
        <br><br>
        <hr class="divider" />
        <h5 class="white-text col s12">Montreal Cognitive Assesment (MoCA) <br> Evaluación Cognitiva Montreal. <br>
		<p> Versión 8.1 Spanish (Spain) </p><br>
        </h5>
        <br><br><br><br><br><br><br><br>
    </div>
    <div class="col s12 center">
	    <a class="waves-effect waves-light btn modal-trigger btn-large" href="#modalInstrucciones">¡Comience ya!</a><br><br><br>
    </div><br><br>
</header>

<!-- Seccion de preguntas -->
<div id="answers" class="container center">
    <h1>Comenzamos</h1>
    <p id="pCve" style="color: transparent;">{{cve}}</p>
    <p id="idReactivo" style="color: transparent;">Reactivo</p>
</div>


<div class="red accent-1" id="r1">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Visuoespacial/Ejecutiva </div>
        <div class="row">
            <div class="col s6">
                <div class="container">
                    <div class="row">
                        <div class="col s6 center">
                            <button id="E" class="btn-floating waves-effect waves-light btn btn-large letras">E</button>
                        </div>
                        <div class="col s6 center">
                            <button id="A" class="btn-floating waves-effect waves-light btn btn-large letras">A</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 center">
                            <button id="5" class="btn-floating waves-effect waves-light btn btn-large letras">5</button>
                        </div>
                        <div class="col s3 offset-s3 center">
                            <button id="B" class="btn-floating waves-effect waves-light btn btn-large letras">B</button>
                        </div>
                        <div class="col s3 center">
                            <button id="2" class="btn-floating waves-effect waves-light btn btn-large letras">2</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s3 center">
                            <button id="1" class="btn-floating waves-effect waves-light btn btn-large letras">1</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 center">
                            <button id="D" class="btn-floating waves-effect waves-light btn btn-large letras">D</button>
                        </div>
                        <div class="col s3 offset-s3 center">
                            <button id="4" class="btn-floating waves-effect waves-light btn btn-large letras">4</button>
                        </div>
                        <div class="col s3 center">
                            <button id="3" class="btn-floating waves-effect waves-light btn btn-large letras">3</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s3 center">
                            <button id="C" class="btn-floating waves-effect waves-light btn btn-large letras">C</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 center">
                <div class="row center">
                    <h5 class="center-align light"> Presione los círculos alternando entre cifras y letras respetando
                        el orden númerico y el orden alfabético. Comenzando por el 1, siguiendo con la letra A, después
                        el número 2 y así sucesivamente. </h5>
                </div>
                <div class="row">
                    <form id="p1form" action="{% url 'moca-1' %}" method="POST">{% csrf_token %}
                        <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
                        <input id="txtstring" name="txtstring" type="hidden">
                        <button id="buttonform1" type="button"
                            class="waves-effect waves-light btn btn-large buttonform"><a style="color: white;"
                                href="#r2">Continuar</a></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey lighten-5" id="r2">
    <div class="section">
        <div class="row">
            <div class="col s6">
                <h5 class="center-align light"> Copie el siguiente cubo de la manera más precisa posible en una hoja de
                    papel y un lápiz. </h5>
                <form id="Cuboform" class="imageform"  action="{% url 'moca-2y3' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
                    <input type="hidden" value="cubo" id="object" name="object">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Elegir imagen</span>
                            <input type="file" id="imgcubo" name="imgcubo" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 right-align">
                            <button type="submit" class="waves-effect waves-light btn btn-large">Guardar</button>
                        </div>
                        <div class="col s6 left-align">
                            <p id="check" style="color: darkgreen;"></p>
                        </div>
                    </div>
                    <div class="row right-align">
                        <a class="waves-effect waves-light btn btn-large" href="#r3">Continuar</a>
                    </div>
                </form>
            </div>
            <div class="col s6 center">
                <img src="{% static 'images/cubo.png' %}" class="center">
            </div>
        </div>
        <div class="row">
            <div class="col s10 m7 center-align">
            </div>
            <div class="col s2 m5 right-align">
            </div>
        </div>
    </div>
</div>


<div class="color_grisO" id="r3">
    <div class="section">
        <div class="row">
            <div class="container">
                <h5 class="center-align light"> Dibuje un reloj que incluya todos los números y que marque las once y
                    diez en una hoja de papel usando un lápiz. </h5>
                <form id="RelojForm" class="imageform" action="{% url 'moca-2y3' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
                    <input type="hidden" value="reloj" id="object" name="object">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Elegir imagen</span>
                            <input type="file" id="imgreloj" name="imgreloj" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="waves-effect waves-light btn btn-large">Guardar</button>
                            <p id="check" style="color: darkgreen;"></p>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row center-align">
                        <a class="waves-effect waves-light btn btn-large" href="#r4">Continuar</a>
                    </div>
                </form>
            </div>
 
        </div>
        <div class="row">
            <div class="col s10 m7 center-align">
            </div>
            <div class="col s2 m5 right-align">
            </div>
        </div>
    </div>
</div>

<div class="color_azul" id="r4">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Identificación </div>
        <div class="row">
            <div class="col s12 center">
                <h5 class="center-align light"> Escriba dentro de los rectángulos blancos, el nombre de cada uno de los
                    animales que se muestran a
                    continuación: </h5>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-4' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center">
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion1.png' %}" alt="Imagen 1">
                    <input id="animal1" name="animal1" class="white" type="text">
                </div>
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion2.png' %}" alt="Imagen 2">
                    <input id="animal2" name="animal2" class="white" type="text">
                </div>
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion3.png' %}" alt="Imagen 3">
                    <input id="animal3" name="animal3" class="white" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                </div>
                <div class="col s12 m4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r5">Continuar</a></button>
                </div>
                <div class="col s2 m4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- En este reactivo solo se usa polly -->
<div class="grey lighten-5" id="r5">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Memoria </div>
        <div class="row">
            <div class="col">
                <h5 class="center-align light"> Esta es una prueba de memoria. Presione la bocina para escuchar una
                    serie de palabras.
                    Escuche con atención, ya que más adelante se le pedirá que las repita. Tendrá la oportunidad de
                    escuchar
                    dos veces la serie de palabras. Al terminar de escuchar una vez, presione el botón <b>Grabar</b> y
                    repita las palabras en cualquier orden. Este proceso lo deberá realizar dos veces. </h5>
                <p class="center-align light">Una vez que termine, presione <b>Continuar.</b></p>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-5' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 ">
                    <select name="listaDeDispositivos5" id="listaDeDispositivos5"></select>
                    <p id="duracion5"></p>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s4 ">
                    <p id="idReactivoEsp" style="color: transparent;">5</p>
                    <a id="iniciavoz5" class="waves-effect waves-light btn btn-large voz"><i
                            class="material-icons">volume_up</i></a>
                    <audio id="audio5" src=""></audio>
                </div>
                <div class="col s4">
                    <a id="btnComenzarGrabacion5" class="waves-effect waves-light btn btn-large" disabled>Grabar </a>
                    <a id="btnDetenerGrabacion5" class="waves-effect waves-light btn btn-large" disabled> Detener </a>
                </div>
                <div class="col s4">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r6">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="color_rojo" id="r6">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Atención </div>
        <div class="row">
            <div class="col">
                <h5 class="center-align light"> Esta es una prueba de atención. Presione la bocina para escuchar una
                    serie de números.
                    Escuche con atención, una vez que haya terminado de escuchar el audio, presione en <b> Grabar </b> y
                    repita los
                    números en el orden que los escuchó. </h5>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-6' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 ">
                    <select name="listaDeDispositivos6" id="listaDeDispositivos6"></select>
                    <p id="duracion6"></p>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s4 ">
                    <p id="idReactivoEsp" style="color: transparent;">6</p>
                    <a id="iniciavoz6" class="waves-effect waves-light btn btn-large voz"><i
                            class="material-icons">volume_up</i></a>
                    <audio id="audio6" src=""></audio>
                </div>
                <div class="col s4">
                    <a id="btnComenzarGrabacion6" class="waves-effect waves-light btn btn-large" disabled> Grabar </a>
                    <a id="btnDetenerGrabacion6" class="waves-effect waves-light btn btn-large" disabled> Detener </a>
                </div>
                <div class="col s4">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r7">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="blue-grey lighten-5" id="r7">
    <div class="section">
        <div class="row">
            <div class="col">
                <h5 class="center-align light">Presione la bocina para escuchar una serie de números.
                    Escuche con atención, una vez que haya terminado de escuchar el audio, presione en <b> Grabar </b> y
                    repita los
                    números en el orden inverso al que los escuchó. </h5>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-7' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 ">
                    <select name="listaDeDispositivos7" id="listaDeDispositivos7"></select>
                    <p id="duracion7" class="duracion"></p>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s4 ">
                    <p id="idReactivoEsp" style="color: transparent;">7</p>
                    <a id="iniciavoz7" class="waves-effect waves-light btn btn-large voz"><i
                            class="material-icons">volume_up</i></a>
                    <audio id="audio7" src=""></audio>
                </div>
                <div class="col s4">
                    <a id="btnComenzarGrabacion7" class="waves-effect waves-light btn btn-large" disabled> Grabar </a>
                    <a id="btnDetenerGrabacion7" class="waves-effect waves-light btn btn-large" disabled> Detener </a>
                </div>
                <div class="col s4">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r8">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="red teal accent-1" id="r8">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h5 class="center-align light"> Presione la bocina para escuchar una serie de letras. Escuche con
                    atención, cada que escuche una letra <b>A</b>
                    presione el botón rojo. </h5>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-8' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <input type="hidden" value="0 00 00 00" id="timespush" name="timespush">
            <div class="row center-align">
                <div class="col s6 center-align">
                    <div style="color: transparent;" id="reloj">0 00 00 00</div>
                    <a id="iniciavoz8" class="waves-effect waves-light btn btn-large"><i
                            class="material-icons">volume_up</i></a>
                    <audio id="audio8" src=""></audio>
                </div>
                <div class="col s6 center-align">
                    <a id="botonA" class="btn-floating btn-large waves-effect waves-light red">A</a>
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r9">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="grey lighten-5" id="r9">
    <div class="section">
        <div class="row">
            <div class="col">
                <h5 class="center-align light"> Reste 7 de 100, y continúe restando a la cifra de su respuesta anterior.
                    Haga esto cinco veces.
                    Escriba sus respuestas en los siguientes cuadros.</h5>
            </div>
        </div>
        <form action="{% url 'moca-9' %}" method="POST">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row">
                <div class="col s12 m1"> </div>
                <div class="col s12 m2 center">
                    <input id="numero1" name="numero1" type="number">
                    <br><label><b>1</b></label>
                </div>
                <div class="col s12 m2 center">
                    <input id="numero2" name="numero2" type="number">
                    <br><label><b>2</b></label>
                </div>
                <div class="col s12 m2 center">
                    <input id="numero3" name="numero3" type="number">
                    <br><label><b>3</b></label>
                </div>
                <div class="col s12 m2 center">
                    <input id="numero4" name="numero4" type="number">
                    <br><label><b>4</b></label>
                </div>
                <div class="col s12 m2 center">
                    <input id="numero5" name="numero5" type="number">
                    <br><label><b>5</b></label>
                </div>
                <div class="col s12 m1"> </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r10">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="color_rojo" id="r10">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Lenguaje </div>
        <div class="row">
            <div class="col s12 center">
                <h4 class="center-align light"> Presione la bocina para escuchar un audio. Escuche con atención, cuando
                    termine de escucharlo, presione
                    <b>Grabar</b> y repita la frase que escuchó. </h4>
                <h4 class="center-align light"> Posteriormente, vuelva a presionar la bocina para escuchar un segundo
                    audio y repita el proceso anterior.</h4>
                <h5 class="center-align light"> Sólo podrá escuchar cada audio <b>una sola vez</b>.</h5>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-10' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 ">
                    <select name="listaDeDispositivos10" id="listaDeDispositivos10"></select>
                    <p id="duracion10"></p>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s4 ">
                    <p id="idReactivoEsp" style="color: transparent;">10</p>
                    <a id="iniciavoz10" class="waves-effect waves-light btn btn-large voz"><i
                            class="material-icons">volume_up</i></a>
                    <audio id="audio10" src=""></audio>
                </div>
                <div class="col s4">
                    <a id="btnComenzarGrabacion10" class="waves-effect waves-light btn btn-large" disabled> Grabar </a>
                    <a id="btnDetenerGrabacion10" class="waves-effect waves-light btn btn-large" disabled> Detener </a>
                </div>
                <div class="col s4">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r11">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>


<div class="color_grisO" id="r11">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4 class="center-align light"> Presione el botón <b>Grabar</b> y en seguida diga la mayor cantidad de
                    palabras que comiencen por la letra <b>F</b>
                    <br> Puede decir cualquier tipo de palabras <b> excepto</b> nombres propios, números, conjugaciones
                    verbales (como meto, metes, mete) y palabras de
                    la misma familia (como 'manzana', 'manzano').</h4>
            </div>
        </div>
        <form method="POST" action="{% url 'moca-11' %}">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 ">
                    <select name="listaDeDispositivos11" id="listaDeDispositivos11"></select>
                    <p id="duracion11"></p>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s4 offset-s4">
                    <p id="idReactivoEsp" style="color: transparent; font-size: xx-small;">11</p>
                    <a id="btnComenzarGrabacion11" class="waves-effect waves-light btn btn-large"> Grabar </a>
                    <a id="btnDetenerGrabacion11" class="waves-effect waves-light btn btn-large"> Detener </a>
                </div>
                <div class="col s4">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
                <br><br><br><br><br>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r12">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>




<div class="color_grisC" id="r12">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Abstracción </div>
        <div class="row">
            <div class="col s12 center">
                <h4 class="center-align light"> Escriba a que categoría pertenecen las siguientes palabras, por ejemplo,
                    plátano
                    y naranja pertenecen a la categoría <b>fruta</b>.</h4>
            </div>
        </div>
        <form action="{% url 'moca-12' %}" method="POST"> {% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row">
                <div class="col s12 m4 center-align">
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/banana.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Plátano </label>
                    </div>
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/naranja.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Naranja </label>
                    </div>
                    <input id="categoria1" name="categoria1" type="text" value="fruta" disabled>
                </div>
                <div class="col s12 m4 center-align">
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/bici.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Bicicleta </label>
                    </div>
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/tren.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Tren </label>
                    </div>
                    <input id="categoria2" name="categoria2" type="text">
                </div>
                <div class="col s12 m4 center-align">
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/reloj.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Reloj </label>
                    </div>
                    <div class="col m6">
                        <img class="icono" src="{% static 'images/regla.png' %}" alt="Audio">
                        <br><label style="color: black; font-size:19px;"> Regla </label>
                    </div>
                    <input id="categoria3" name="categoria3" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s10 m7 right-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r13">Continuar</a></button>
                </div>
                <div class="col s2 m5 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="color_azul" id="r13">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Recuerdo diferido </div>
        <div class="row">
            <div class="col">
                <h4 class="center-align light"> Hace un momento, usted escuchó un audio con cinco palabras, y se le
                    pidió que las recordara.
                    Ahora, escriba las palabras que recuerda. </h4>
                <h5 class="center-align light"> En caso de no recordarlo, de clic en <b>Pedir ayuda</b>.</h5>
            </div>
        </div>
        <form action="{% url 'moca-13' %}" method="POST">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row">
                <div class="col s12 m1"> </div>
                <div class="col s12 m2 center">
                    <input id="resultadop1" name="resultadop1" type="hidden" value="0">
                    <input id="palabra1" name="palabra1" type="text">
                    <br><label><b>Palabra 1</b></label>
		    <br><br><button type="button" id="ayuda1" name="ayuda1" class="waves-effect waves-light btn blue"> Ayuda
                    </button>
                    <div id="panel1" name="panel1" class="row">
                        <h6 id="payuda11" name="payuda11"></h6>
                        <br>
                        <h6 id="payuda12" name="payuda12"></h6>
                    </div>
                </div>
                <div class="col s12 m2 center">
                    <input id="resultadop2" name="resultadop2" type="hidden" value="0">
                    <input id="palabra2" name="palabra2" type="text">
                    <br><label><b>Palabra 2</b></label>
		    <br><br><button type="button" id="ayuda2" name="ayuda2" class="waves-effect waves-light btn blue"> Ayuda
                    </button>
                    <div id="panel2" name="panel2" class="row">
                        <h6 id="payuda21" name="payuda21"></h6>
                        <br>
                        <h6 id="payuda22" name="payuda22"></h6>
                    </div>
                </div>
                <div class="col s12 m2 center">
                    <input id="resultadop3" name="resultadop3" type="hidden" value="0">
                    <input id="palabra3" name="palabra3" type="text">
                    <br><label><b>Palabra 3</b></label>
		    <br><br><button type="button" id="ayuda3" name="ayuda3" class="waves-effect waves-light btn blue">
                        Ayuda</button>
                    <div id="panel3" name="panel3" class="row">
                        <h6 id="payuda31" name="payuda31"></h6>
                        <br>
                        <h6 id="payuda32" name="payuda32"></h6>
                    </div>
                </div>
                <div class="col s12 m2 center">
                    <input id="resultadop4" name="resultadop4" type="hidden" value="0">
                    <input id="palabra4" name="palabra4" type="text">
                    <br><label><b>Palabra 4</b></label>
		    <br><br><button type="button" id="ayuda4" name="ayuda4" class="waves-effect waves-light btn blue"> Ayuda
                    </button>
                    <div id="panel4" name="panel4" class="row">
                        <h6 id="payuda41" name="payuda41"></h6>
                        <br>
                        <h6 id="payuda42" name="payuda42"></h6>
                    </div>
                </div>
                <div class="col s12 m2 center">
                    <input id="resultadop5" name="resultadop5" type="hidden" value="0">
                    <input id="palabra5" name="palabra5" type="text">
                    <br><label><b>Palabra 5</b></label>
		    <br><br><button type="button" id="ayuda5" name="ayuda5" class="waves-effect waves-light btn blue"> Ayuda
                    </button>
                    <div id="panel5" name="panel5" class="row">
                        <h6 id="payuda51" name="payuda51"></h6>
                        <br>
                        <h6 id="payuda52" name="payuda52"></h6>
                    </div>
                </div>
                <div class="col s12 m1"> </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#r14">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="color_rojo" id="r14">
    <div class="section">
        <div class="row blue-grey darken-3 etiqueta"> Orientación </div>
        <div class="row">
            <div class="col s12 center">
                <h4 class="center-align light"> Diga en qué fecha estamos: </h4>
            </div>
        </div>
        <form action="{% url 'moca-14' %}" method="POST">{% csrf_token %}
            <input type="hidden" value="{{cve}}" id="txtCve" name="txtCve">
            <div class="row center-align">
                <div class="col s12 m3">
                    <p class="black-text"><b>Día de la semana: </b></p>
                    <input id="diasemana" name="diasemana" type="text">
                </div>
                <div class="col s12 m3">
                    <p class="black-text"><b>Día: </b></p>
                    <input id="dia" name="dia" type="number">
                </div>
                <div class="col s12 m3">
                    <p class="black-text"><b>Mes: </b></p>
                    <input id="mes" name="mes" type="text">
                </div>
                <div class="col s12 m3">
                    <p class="black-text"><b>Año: </b></p>
                    <input id="anio" name="anio" type="number">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <h4 class="center-align light"> ¿En dónde estamos? </h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 center"> </div>
                <div class="col s12 m4 center">
                    <p class="black-text"><b> Lugar: </b></p>
                    <input id="lugar" name="lugar" type="text">
                </div>
                <div class="col s12 m4 center">
                    <p class="black-text"><b> Localidad: </b></p>
                    <input id="localidad" name="localidad" type="text">
                </div>
                <div class="col s12 m2 center"></div>
            </div>
            <div class="row">
                <div class="col s4 offset-s4 center-align">
                    <button type="button" class="waves-effect waves-light btn btn-large buttonform"><a
                            style="color: white;" href="#fin">Continuar</a></button>
                </div>
                <div class="col s4 right-align">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="blue-grey lighten-5" id="fin">
    <div class="section">
        <div class="row center-align">
            <a class="modal-trigger" href="#modalfin">
                <h4> Finalizar Prueba</h4>
            </a>
        </div>
    </div>
</div>
<!-- Modal instrucciones  -->
<div id="modalInstrucciones" class="modal">
    <div class="modal-content">

        <h4 style="text-align:center;">¿Está listo/a para comenzar su prueba?</h4>
	<hr /><br><br>
        <div class="container">
            <h6>Usted está a punto de comenzar su tamizaje.</h6>
            <h6>Este test sirve para evaluar sus funciones neurocognitivas tales como:</h6>
            <ol>
                <li>Visuoespacial</li>
                <li>Identificación</li>
                <li>Memoria</li>
                <li>Atención</li>
                <li>Lenguaje</li>
                <li>Abstraccion</li>
                <li>Recuerdo diferido</li>
                <li>Orientación</li>
            </ol>
            <h6>Le solicitamos que se encuentre realizando la prueba en un dispositivo que cuente con micrófono y bocina ya que lo necesitará para realizar su prueba. </h6> 
    <h6>Lea con mucha atención las indicaciones de cada reactivo antes de presionar cualquier botón.</h6>
            <h6>Intente responder las respuestas de manera correcta, cada que termine de contestar un reactivo, presione el botón <b>Continuar</b> para que se dirija al reactivo siguiente.</h6>
	    <h6>Una vez que termine de contestar todos los reactivos, presione <b>Finalizar prueba</b> y dígale a su doctor que ha terminado su prueba.</h6><br>
            <h5 style="text-align:center;">Muchas gracias.</h5>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#answers" class="modal-close waves-effect waves-green btn-flat">¡Comenzar!</a>
    </div>
</div>


<!-- Modal de pistas - moca13 -->
<div id="modalfin" class="modal">
    <div class="modal-content center">
        <h4>¿Está seguro de finalizar la prueba?</h4>
        <h6>Recuerde que si le presiona Aceptar, no podrá seguir con la prueba</h6>
        <div class="row">
            <div class="col s6 center">
                <a href="{% url 'final-moca' token=access tipo=tipo%}" class="waves-effect waves-green btn-flat"
                    style="color: #fff; background-color: rgb(33, 185, 33);" name="salirmoca">&nbsp; Aceptar
                    &nbsp;</a>
            </div>
            <div class="col s6 center">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat"
                    style="color: #fff; background-color: salmon;">Cancelar</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<script>
    var cadena = "";
    var times = [0, 0, 0, 0, 0];
    var times10 = 0;
    var times5 = 0;
    let boton = document.querySelector("#iniciavoz10")
    let audioEtiqueta = document.querySelector("#audio10")
    var tiempos = "";

    //Funcion utilizada en todos los reactivos para mandar por medio de ajax el los datos del form para evaluar la respuesta
    $(".buttonform").click(function () {
        $.ajax({
            data: $(this).parents("form").serialize(),
            url: $(this).parents("form").attr('action'),
            type: $(this).parents("form").attr('method'),
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    //Funcion que tomara el reactivo del cubo para subir la foto (para subir fotos con ajax se necesita hacer un formdata)
    $('.imageform').submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "{% url 'moca-2y3' %}",
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if (response.error) {
                    $.each(response.errors, function (name, error) {
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else {
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
        $("#check").text("¡Guardado!");
    });

    //Funcion util para reactivo 1, concatena el valor de las letras y nuemros para formar la cadena y desactiva el botón cuando ya ha sido pulsado
    $(".letras").click(function () {
        $(this).attr('disabled', true);
        cadena += $(this).text();
        $('#txtstring').val(cadena);
    });

    //Función onclick de los botones bocina, para saber que reactivo es y guardar con ese nombre el audio en el bucket de s3
    $('.voz').click(function () {
        //Reproducir el audio correcto en el reactivo 10 (una oración por cada vez que pulse el boton)
        if ($(this).attr('id') == "iniciavoz10") {
            $("#btnComenzarGrabacion10").attr('disabled', false);
            $("#btnDetenerGrabacion10").attr('disabled', false);
            times10 += 1;
            var oracion = ""; //Numero con el que se guardará el audio
            if (times10 == 1) {
                //Reproducir oración 1 con Polly
                audioEtiqueta.setAttribute("src", "{% static 'audio/Oracion1.mp3' %}")
                oracion = "101";
            } else {
                //Reproducir oración 2 con Polly
                audioEtiqueta.setAttribute("src", "{% static 'audio/Oracion2.mp3' %}")
                $(this).attr('disabled', true);
                oracion = "102";
            }
            $("#idReactivo").text(oracion);
            console.log($('#idReactivo').text());
            init("10");
        } else if ($(this).attr('id') == "iniciavoz5") {
            $("#btnComenzarGrabacion5").attr('disabled', false);
            $("#btnDetenerGrabacion5").attr('disabled', false);
            audioEtiqueta = document.querySelector("#audio5")
            audioEtiqueta.setAttribute("src", "{% static 'audio/RecuerdoDiferido.mp3' %}")
            times5 += 1;
            var palabras = ""; //Numero con el que se guardará el audio
            if (times5 == 1) {
                palabras = "51";
            } else {
                //Reproducir oración 2 con Polly
                $(this).attr('disabled', true);
                palabras = "52";
            }
            $("#idReactivo").text(palabras);
            console.log($('#idReactivo').text());
            init("5");
        } else {
            if ($(this).attr('id') == "iniciavoz8") {
                audioEtiqueta = document.querySelector("#audio8")
                audioEtiqueta.setAttribute("src", "{% static 'audio/Letras.mp3' %}")
            }
            if ($(this).attr('id') == "iniciavoz6") {
                $("#btnComenzarGrabacion6").attr('disabled', false);
                $("#btnDetenerGrabacion6").attr('disabled', false);
                audioEtiqueta = document.querySelector("#audio6")
                audioEtiqueta.setAttribute("src", "{% static 'audio/NumerosOrden.mp3' %}")
            }
            if ($(this).attr('id') == "iniciavoz7") {
                $("#btnComenzarGrabacion7").attr('disabled', false);
                $("#btnDetenerGrabacion7").attr('disabled', false);
                audioEtiqueta = document.querySelector("#audio7")
                audioEtiqueta.setAttribute("src", "{% static 'audio/NumerosInverso.mp3' %}")
            }
            $("#idReactivo").text($(this).siblings("#idReactivoEsp").text());
            console.log($('#idReactivo').text());
            init($('#idReactivo').text()); //Funcion que activa el modo grabación en los botones de grabar de ese reactivo
        }
        audioEtiqueta.play()
    });

    //Boton para comenzar reactivo 8
    $('#iniciavoz8').click(function () {
        audioEtiqueta = document.querySelector("#audio8")
        audioEtiqueta.setAttribute("src", "{% static 'audio/Letras.mp3' %}")
        audioEtiqueta.play()
        empezar();
    });

    //Funcion del boton rojo en el reactivo 8
    $('#botonA').click(function () {
        tiempos += "/" + catchtime();
        $('#timespush').val(tiempos);
    });

    //Botón para grabar el reactivo 11
    $('#btnComenzarGrabacion11').click(function () {
        $("#idReactivo").text($(this).siblings("#idReactivoEsp").text());
        console.log($('#idReactivo').text());
        init($('#idReactivo').text()); //Funcion que activa el modo grabación en los botones de grabar de ese reactivo
    });

    $('#ayuda1').click(function () {
        times[0] += 1;
        $("#panel1").slideDown("slow");
        if (times[0] == 1) {
            $('#payuda11').text("Es una parte del cuerpo");
            $("#resultadop1").val("1");
        }
        if (times[0] == 2) {
            $('#payuda12').text("Es alguna de estas: Mano, Brazo, Rostro, Pierna");
            $(this).attr('disabled', true);
            $("#resultadop1").val("2");
        }
    });

    $('#ayuda2').click(function () {
        times[1] += 1;
        $("#panel2").slideDown("slow");
        if (times[1] == 1) {
            $('#payuda21').text("Es una tipo de tela");
            $("#resultadop2").val("1");
        }
        if (times[1] == 2) {
            $('#payuda22').text("Es alguna de estas: Pana, Seda, Fieltro, Piel");
            $(this).attr('disabled', true);
            $("#resultadop2").val("2");
        }
    });

    $('#ayuda3').click(function () {
        times[2] += 1;
        $("#panel3").slideDown("slow");
        if (times[2] == 1) {
            $('#payuda31').text("Es un edificio o lugar");
            $("#resultadop3").val("1");
        }
        if (times[2] == 2) {
            $('#payuda32').text("Es alguna de estas: Casa, Iglesia, Escuela, Templo");
            $(this).attr('disabled', true);
            $("#resultadop3").val("2");
        }
    });

    $('#ayuda4').click(function () {
        times[3] += 1;
        $("#panel4").slideDown("slow");
        if (times[3] == 1) {
            $('#payuda41').text("Es una flor");
            $("#resultadop4").val("1");
        }
        if (times[3] == 2) {
            $('#payuda42').text("Es alguna de estas: Clavel, Rosa, Margarita, Bugambilia");
            $(this).attr('disabled', true);
            $("#resultadop4").val("2");
        }
    });

    $('#ayuda5').click(function () {
        times[4] += 1;
        $("#panel5").slideDown("slow");
        if (times[4] == 1) {
            $('#payuda51').text("Es un color");
            $("#resultadop5").val("1");
        }
        if (times[4] == 2) {
            $('#payuda52').text("Es alguna de estas: Verde, Rojo, Café, Blanco");
            $(this).attr('disabled', true);
            $("#resultadop5").val("2");
        }
    });

    $("#btnFinalizar").click(function () {
        if (times < 10) {
            var elems = document.getElementById("modalFinishEarlier");
            var instance = M.Modal.getInstance(elems);
            instance.open();
        } else {
            var elems = document.getElementById("modalFinish");
            var instance = M.Modal.getInstance(elems);
            instance.open();
        }
    });
</script>

{% endblock %}
