{% extends "Usuarios/baseIndex.html" %}

{% block title%} Recuperar Contraseña {% endblock %}

{% block content %}
{% load static %}
      <div class="container  img_fondo_passwd">
        <div class="row">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro_Passwd">
            <div class="col s12 m2">
            </div>
            <div class="col s12 m8">
              <h1> ¿Ha olvidado la contraseña? </h1>
              <h5> Introduzca la dirección de correo electrónico que utilizó para registrarse. Le enviaremos la contraseña para que pueda entrar a su cuenta de usuario. </h5> 
            </div>
            <div class="col s12 m2">
            </div>
            <div class="row">
              {% if form.errors %}
			          <p style="color: red;">Por favor revise este campo</p>
			        {% endif %}
			        <form action="" method="POST" class="white-text"> {% csrf_token %}
                <div class="col offset-s2">
                  <div> 
                    <table>
                      <tr>
                        <th>
                          <label for="id_email" style="font-size: 18px;">Correo electrónico: </label>{{form.email}}
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col s6 offset-s4">
                  <button class="btn waves-effect waves-light botones_passwd" type="submit" name="action"> Enviar enlace <i class="material-icons right">send</i></button>
                </div>
              </form>
              {% if "valido" in request.GET %}
              <div style="background-color: green; font-size: 18px; text-align: center;" class="container error">
                <p> Información enviada correctamente, por favor revise su correo.</p>
              </div>
              {% endif %}
              {% if "notfound" in request.GET %}
              <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                <p> Lo sentimos, no existe una cuenta vinculada a ese correo en Zeitgeist.</p>
              </div>
              {% endif %}
              {% if "nosuccess" in request.GET %}
              <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                <p> Hubo un error, por favor vuelva a intentarlo</p>
              </div>
              {% endif %}
              {% if "novalido" in request.GET %}
              <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                <p> Error en servidor, por favor intentelo más tarde.</p>
              </div>
              {% endif %}
            </div>
            <div class="col s5 offset-s7">
              <p> Volver a <a href="{% url 'Iniciar' %}"> Iniciar sesión </a> </p> 
            </div>
          </div>
          <div class="col s12 m1">
          </div>
        </div>
      </div>


{% endblock %}

