{% extends "Usuarios/baseIndex.html" %}

{% block title%} Confirmación Contraseña {% endblock %}

{% block content %}
{% load static %}


<div class="container img_fondo  ">
    <div class="row">
        <div class="col s11 m2">
        </div>
        <div class="col s11 m8 cuadro">
            <br>
            <br>
            <div class="row">
                {% if validlink %}
                <div class="col s11">

                    <form action="" method="POST"> {% csrf_token %}
                        <div class="col s11 m8  offset-m1">
                            <table>
                                <tr>
                                    <th>
                                        {{form.new_password1.errors}}
                                        <label for="id_new_password 1">Nueva contraseña: </label>
                                    </th>
                                    <td>
                                        {{form.new_password1}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{form.new_password2.errors}}
                                        <label for="id_new_password 1">Confirme contraseña: </label>
                                    </th>
                                    <td>
                                        {{form.new_password2}}
                                    </td>
                                </tr>
                            </table>
                            <br><br>
                            <div class="col s11 m6 offset-m5">
                                <button class="btn waves-effect waves-red  botones" style="color: #333" type="submit"
                                    name="action"> Guardar nueva contraseña <i
                                        class="material-icons right">send</i></button>
                            </div>
                    </form>
                </div>
                {% else %}
                <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}