{% extends "Usuarios/baseIndex.html" %}

{% block title%} Recuperar Contraseña {% endblock %}

{% block content %}
{% load static %}
      <div class="container  img_fondo_passwd">
        <div class="row">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro_Passwd">
            <div class="col s12 m2">
            </div>
            <div class="col s12 m8">
              <h1> Revise su correo </h1>
              <h5> Le hemos enviado un correo con un enlace para reestablecer su contraseña. </h5> 
            </div>
            <div class="col s12 m2">
            </div>
          </div>
          <div class="col s12 m1">
          </div>
        </div>
      </div>


{% endblock %}

