{% extends "Pruebas/basePacientes.html" %}

{% block title%} Editar perfil de usuario {% endblock %}

{% block content %}
{% load static %}

      <div class="row img_fondo_editP">
        <div class="col s12 m1">
        </div>
        <div class="col s12 m10 cuadro">
         <div class="col s12 m2">
          </div>
          <div class="col s12 m8">
	   <h3 class="bold white-text" style="text-align: 'center'"> Editar perfil </h2>
            <br>
            <div class="col s12 m7">
            </div>
          </div>
          <div class="row">
		<div class="col s12">
		  <div class="input-field col s12  offset-m3 white-text "> 
			<div class="row">
				<label class="white-text" for="Nuevo_nombre"> Nuevo nombre completo: </label>
			</div>
			<div class="row">
				<input id="Nuevo_nombre" type="input-field" class="validate">
			</div>
		  </div>
		  <div class="input-field col s12  offset-m3 white-text "> 
			<div class="row">
				<label class="white-text" > Nuevo nombre de usuario: </label>
			</div>
			<div class="row">
				<input id="text" type="input-field" class="validate">
			</div>
		  </div>
		  <div class="input-field col s12  offset-m3 white-text "> 
			<div class="row">
				<label class="white-text"> Nuevo correo electrónico: </label>
			</div>
			<div class="row">
				<input id="email" type="input-field email" class="validate">
				<span class="helper-text" data-error="Error" data-success="Correcto"></span>
			</div>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<div class="row">
				<label class="white-text" for="Nuevo_nombre"> Nueva contraseña: </label>
			</div>
			<div class="row">
				<input id="Nuevo_nombre" type="password" class="validate white-text">
			</div>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<div class="row">
				<label class="white-text"> Confirmar nueva contraseña: </label>
			</div>
			<div class="row">
				<input id="text" type="password" class="validate white-text">
			</div>
		  </div>
		  <div class="col s12 m6 offset-m3">
		   <br>
		   <button class="btn waves-effect.waves-red botones black-text" type="submit" name="action" > Guardar cambios <i class="material-icons right">send</i></button>
		  </div>
	</div>
	</div>
      </div>
      <div class="col s12 m1">
      </div>
      <br>
    </div>
  

{% endblock %}  
