{% extends "Pruebas/basePacientes.html" %}

{% block title%} Reminiscencia {% endblock %}

{% block content %}

{% load static %}
<!-- Modal instrucciones  -->
<div id="modalInstrucciones" class="modal">
  <div class="modal-content">
    <h2 style="text-align:center;">¿Estas listo/a para ingresar datos de tu paciente?</h2>
    <hr />
    <div class="container">
      <p>A continuación se te mostrará una pregunta que será parte de la próxima sesión de reminiscencia
        de tu paciente, podrás leer la pregunta tal como se le mostrará a el/ella.</p>
      <p>Te pedimos que en el espacio de texto coloques la respuesta correcta a la pregunta solcitada. De
        esta manera calificaremos las respuestas del paciente durante su sesión.
      </p>
      <p>Habrá preguntas que necesiten una imagen o un audio, para esto te solicitamos que cuentes con
        los recursos que se te solicitan. Si no cuentas con ellos y prefieres que esa pregunta no forme
        parte de la sesión de tu paciente, podrás omitarla presionando el botón OMITIR.
      </p>
      <h4 style="text-align:center;">Muchas gracias ¡Diviértete!</h4>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#answers" class="modal-close waves-effect waves-green btn-flat">¡Comenzar!</a>
  </div>
</div>

<!-- Seccion principal -->
<div id="principal" class="row img_fondo_reminiscencia">
  <div class="grid-example col s12">
    <br><br><br><br><br>
    <h1 class="white-text center">¡Hola! </h1>
    <h1 class="white-text center">Bienvenido/a a tu sesión de reminiscencia</h1>
  </div>
  <div class="col s4 center"></div>
  <div class="col s4 center">
    <br><br>
    <hr class="divider" />
    <h4 class="white-text col s12"> ¿Estás listo para comenzar tu sesión de reminiscencia del día de hoy?</h4>
    <br><br><br><br><br><br><br><br>
  </div>
  <div class="col s12 center">
    <a class="waves-effect waves-light btn modal-trigger btn-large" href="#modalInstrucciones">Comienza!</a>
  </div>
</div>
<!-- Seccion de preguntas -->
<div id="answers" class="container center">
  <h1>Comenzamos</h1>
  {% for pregunta in preguntas %}
  <div id="{% cycle 'p1' 'p2' 'p3' 'p4' 'p5' 'p6' 'p7' 'p8' 'p9' 'p10' as pdivs %}">
    <h4>{{pregunta.reactivo}}</h4>
    {% if pregunta.tipoDato  == 'IMG' %}
    {% for key, item in img.items %}
    {% if key == pregunta.idReactivo %}
      <img class="responsive-img materialboxed" src="/media/{{item}}" width="30%" height="50%">
    {% endif %}
    {% endfor %}
    {% elif pregunta.tipoDato == 'AUD' %}
    {% for key, item in audio.items %}
    {% if key == pregunta.idReactivo %}
      <audio preload="none" controls><source src="/media/{{item}}" ></audio>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if pregunta.tipoPregunta == 'A' %}
    <div class="row">
      <form class="col s12">
        <div class="row">
          <br><br><br><br><br><br>
          <div class="input-field container">
            <input placeholder="Respuesta a la pregunta" id="txtrespuesta" type="text" class="validate">
            <label for="txtrespuesta">Tu respuesta:</label>
          </div>
      </form>
    </div>
    {% else %}

    <form action="#">
      <p>Tu respuesta: </p>
    {% for key, list in op.items %}
    {% if key == pregunta.idReactivo %}
      {% for opcion in list %}     
      <p>
        <label>
          <input name="group1" type="radio" checked />
          <span>{{opcion}}</span>
        </label>
      </p>
      {% endfor %}
      {% endif %}
    {% endfor %}
    </form>
    {% endif %}
    <a href="#pdivs" class="waves-effect waves-light btn-large"> Siguiente </a>
    <br><br><br>
    
  </div>
  {% endfor %}
</div>
{% endblock %}