{% extends "Pruebas/basePacientes.html" %}

{% block title%} MoCA. Prueba de tamizaje {% endblock %}

{% block content %}

{% load static %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br><br><br>
            <h1 class="header left teal-text text-lighten-2"> ¿List@? </h1>
            <div class="row center">
              <h5 class="header col s12 light"> Montreal Cognitive Assesment (MoCA) <br> Evaluación Cognitiva Montreal. <br> <p> Versión 8.1 Spanish (Spain) </p> </h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="{% static 'images/background2.jpeg' %}" alt="Unsplashed background img 1"></div>
    </div>

    <div class="color_azul">
        <div class="section">
            <div class="row blue-grey darken-3 etiqueta"> Identificación </div>
            <div class="row">
                <div class="col s12 center">
                    <h5 class="center-align light"> Escriba el nombre de cada uno de los animales que se muestran a continuación: </h5>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion1.png' %}" alt="Imagen 1">
                    <input class="white" type="text">
                </div>
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion2.png' %}" alt="Imagen 2">
                    <input class="white" type="text">
                </div>
                <div class="col s12 m4">
                    <img src="{% static 'images/identificacion3.png' %}" alt="Imagen 3">
                    <input class="white" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s10 m7 center-align">
                    <button>Continuar</button>    
                </div>
                <div class="col s2 m5 right-align">
                    <img class="icono " src="{% static 'images/help.png' %}" alt="Ayuda">
                </div>
            </div>
        </div>
    </div>

    <div class="grey lighten-5">
        <div class="section">
            <div class="row blue-grey darken-3 etiqueta"> Memoria </div>
            <div class="row">
                <div class="col">
                    <h5 class="center-align light"> Esta es una prueba de memoria. Presione la bocina para escuchar una serie de palabras.
                        Escuche con atención, ya que más adelante se le pedirá que las repita. Una vez que haya terminado de escuchar el
                        audio, presione en <b> Grabar </b> y repita las palabras que recuerde en el orden que desee. </h5>
                </div>                
            </div>
            <div class="row">
                <div class="col s12 m4 right-align">
                    <img class="icono" src="{% static 'images/bocina.png' %}" alt="Audio">
                </div>
                <div class="col s12 m4 center-align">
                    <button> Grabar </button>    
                </div>
                <div class="col s12 m4 left-align">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
            </div>
            <div class="row">
                <div class="col s10 m7 right-align">
                    <button>Continuar</button>    
                </div>
                <div class="col s2 m5 right-align">
                    <img class="icono " src="{% static 'images/help.png' %}" alt="Ayuda">
                </div>
            </div>
        </div>
    </div>

    <div class="color_rojo">
        <div class="section">
            <div class="row blue-grey darken-3 etiqueta"> Atención </div>
            <div class="row">
                <div class="col">
                    <h5 class="center-align light"> Esta es una prueba de atención. Presione la bocina para escuchar una serie de números.
                        Escuche con atención, una vez que haya terminado de escuchar el audio, presione en <b> Grabar </b> y repita los
                        números en el orden que los escuchó. </h5>
                </div>                
            </div>
            <div class="row">
                <div class="col s12 m4 right-align">
                    <img class="icono" src="{% static 'images/bocina.png' %}" alt="Audio">
                </div>
                <div class="col s12 m4 center-align">
                    <button> Grabar </button>    
                </div>
                <div class="col s12 m4 left-align">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
            </div>
            <div class="row">
                <div class="col s10 m7 right-align">
                    <button>Continuar</button>    
                </div>
                <div class="col s2 m5 right-align">
                    <img class="icono " src="{% static 'images/help.png' %}" alt="Ayuda">
                </div>
            </div>
        </div>
    </div>

    <div class="blue-grey lighten-5">
        <div class="section">
            <div class="row">
                <div class="col">
                    <h5 class="center-align light">Presione la bocina para escuchar una serie de números.
                        Escuche con atención, una vez que haya terminado de escuchar el audio, presione en <b> Grabar </b> y repita los
                        números en el orden inverso al que los escuchó. </h5>
                </div>                
            </div>
            <div class="row">
                <div class="col s12 m4 right-align">
                    <img class="icono" src="{% static 'images/bocina.png' %}" alt="Audio">
                </div>
                <div class="col s12 m4 center-align">
                    <button> Grabar </button>    
                </div>
                <div class="col s12 m4 left-align">
                    <img class="icono " src="{% static 'images/play1.png' %}" alt="Grabar">
                </div>
            </div>
            <div class="row">
                <div class="col s10 m7 right-align">
                    <button>Continuar</button>    
                </div>
                <div class="col s2 m5 right-align">
                    <img class="icono " src="{% static 'images/help.png' %}" alt="Ayuda">
                </div>
            </div>
        </div>
    </div>

<div class="blue-grey lighten-5">
        <div class="section">
            <div class="row center-align">
                <a href="{% url 'moca-3' %}"> Ver página siguiente <img class="flecha" src="{% static 'images/flecha-derecha.svg' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}