<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    
</head>

<body> <!-- class="grey lighten-3" -->
    <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'verPacientes' token=access tipo=tipo %}"><i class="material-icons left">assignment_ind</i> Ver Pacientes </a></li>
        <li><a href="{% url 'reportes' token=access tipo=tipo %}"><i class="material-icons left">playlist_add_check</i> Resultados </a></li>
        <li><a class="modal-trigger" href="#modalPacientes"><i class="material-icons left">add_task</i>Tamizaje </a></li>
        <li><a  class='dropdown-trigger' href='#' data-target='dropdown'><i class="material-icons left">account_circle</i>Perfil<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        <ul id='dropdown' class='dropdown-content' style="color: #333">
            <li><a href="{% url 'editarE' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
        </ul>
    </ul>
    <div class="navbar-fixed">
        <nav class="grey lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo dark-text darken-3 titulo"> Zeitgeist </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'verPacientes' token=access tipo=tipo %}"><i class="material-icons left">assignment_ind</i>Ver Pacientes</a></li>
                    <li><a href="{% url 'reportes' token=access tipo=tipo %}"><i class="material-icons left">playlist_add_check</i>Resultados</a></li>
                    <li><a class="modal-trigger" href="#modalPacientes"> Tamizaje </a></li>
                    <li><a  class='dropdown-trigger' href='#' data-target='dropdown2'><i class="material-icons left">account_circle</i>Perfil</a></li>
                        <ul id='dropdown2' class='dropdown-content' style="color: #333">
                            <li><a href="{% url 'editarE' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
                        </ul>
                    <li><a href="#"><i class="material-icons left">help</i></a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

  <div id="modalCerrarSesion" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center;">¿Está seguro de cerrar la sesión?</h4>
      <hr><br>
      <h6 style="text-align: center;"> Si es así, apriete el botón "Aceptar", en caso contrario presione "Cancelar". </h6>
      <br>
      <div class="row">
        <div class="col s6 center">
            <a href="{% url 'cerrarSesion'%}"  class="waves-effect waves-green btn-flat" style="color: #fff; background-color: rgb(33, 185, 33);"  name="cerrarSesion">&nbsp; Aceptar &nbsp;</a>
        </div>
        <div class="col s6 center">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: salmon;">Cancelar</a>
        </div>
      </div>
    </div>
  </div>

    {% block content %}

    {% endblock %}

    </div>

    {% include "Usuarios/footer.html" %}
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script>
        $(".dropdown-trigger").dropdown();
    </script>
    <script>
        $(document).ready(function () {
            $('#modalCerrarSesion').modal();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('#modalMensajeC').modal('open');
        });
    </script>

    {% if modified %}
     <script>
        $(document).ready(function () {
            M.toast({html: "¡Felicidades, sus datos han sido modificados correctamente!",   displayLength: 5500, classes: 'grey darken-1 rounded'})
        });
     </script>
    {% endif %}

        <!-- Errores al intentar hacer una modificación de contraseña -->
    {% if  invalid %}
     <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: asegúrese de escribir su contraseña actual correctamente para poder cambiarla.", displayLength: 7600, classes: 'grey darken-1 rounded'})
        });
    </script>           
    {% endif %}
    {% if pwd_invalid %}
    <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: recuerde que la nueva contraseña debe ser de 8 caracteres y tener al menos un número y una letra mayúscula además de letras minúsculas.", displayLength: 8200, classes: 'grey darken-1 rounded'})
        });
    </script>      
    {% endif %}
    {% if no_match_pdws %}
    <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: la contraseña nueva no coincidió con su confirmación.", displayLength: 7200, classes: 'grey darken-1 rounded'})
        });
    </script>    
    {% endif %}
    <!-- Aqui acaban esos errores -->

    {% if error_paciente %}
        <script>
            $(document).ready(function () {
                M.toast({html: "¡Asegúrese de escribir correctamente el NOMBRE DE USUARIO del paciente y que dicho paciente sí sea atendido por usted!",   displayLength: 6800, classes: 'grey darken-1 rounded'})
            });
        </script>
    {% endif %}

    <!-- El script siguiente es el que se encarga del filtro de datos desde la vista "Opciones administrador":-->
    <script type="text/javascript"> 
        document.querySelector("#inputBuscar").onkeyup = function(){
            $TableFilter("#tablaPacientes", "trP_sinRegistros", this.value, 0); //Activamos operacion del campo de búsqueda.
        } 

        $TableFilter = function(idtabla, filaOculta, value, cuentaFilas){
            var rows = document.querySelectorAll(idtabla + ' tbody tr'); //filas de la tabla
            var row, tr_invisible;
            
            for(var i = 1; i < rows.length; i++){ //Empieza i = 1 para no ocultar header
                var showRow = false;
                row = rows[i];
                row.style.display = 'none'; //Se van ocultando las filas
                tr_invisible = document.getElementById(filaOculta).style; 
                tr_invisible.display = 'none';

                for(var x = 0; x < row.childElementCount-1; x++){ 
                    if(row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1){
                        showRow = true; //Al tener el valor escrito en el campo en cualquiera de sus columnas, se reactiva la fila
                        cuentaFilas += 1; 
                        break;
                    }
                } 
                if(showRow){ 
                    row.style.display = null;
                }   
            }
            if(cuentaFilas == 0){ //Si no hay filas que coincidan con busqueda, lo notificamos
                tr_invisible.display = 'table-row';
            }
        }
    </script>
     


    {% block js %}

    
    {% endblock %}
</body>

</html>
