{% extends "Especialista/baseEspecialista.html" %}

{% block title%} Gráfica de seguimiento {% endblock %}


{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"></script>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot row">
    <div class="container">
      <h1 class="header grey-text center text-darken-4 valign-wrapper" style="margin-top:48%;"> Conozcamos el avance </h1>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/reportes.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4> Reporte del paciente: {{datos.nombre}} </h4>
        <h5> Fecha de aplicación MoCA 1: {{ datos.fecha1 }}</h5>
        <h5> Fecha de aplicación MoCA 2: {{ datos.fecha2}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 center">
        <h4 class="collapsible collection-header center">Gráfica</h4>
        <canvas id="mocasChart" width="600" height="400"></canvas>
      </div>
      <div class="col s12 m6 center">
        <table>
          <thead>
            <tr>
                <th>Categoría</th>
                <th>MoCA 1</th>
                <th>MoCA 2</th>
                <th>Nota</th>
            </tr>
          </thead>
          <tbody>
            {% for row in tabla %}
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ row.m1 }}</td>
              <td>{{ row.m2 }}</td>
              <!--<td>{{ row.dif }}</td>-->
              {% if row.dif == 0 %}
              <td> No hubo cambio </td>
              {% elif row.dif < 0 %}
              <td> Mejora </td>
              {% elif row.dif > 0 %}
              <td style="color:red"><strong>Precaución</strong></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>      
    </div>
  </div>
</div>

<!-- Div para lógica difusa -->
<div class="section">
  <div class="container">
    <div class="row center">
      <h4>Lógica difusa</h4>
      <p>Según estudios, existen factores importantes para considerar el riesgo de diagnóstico de DCL</p>
      <p>El paciente {{namep}} tiene: </p> 
      <ul>
        <li> <b>{{predicado1}}%</b> de probabilidad de desarrollar deterioro neurocognitivo según su edad.</li>
        <li> <b>{{predicado2}}%</b> de probabilidad de que el tratamiento no farmacológico ayude a ralentizar los efectos del DCL en este paciente.</li>
      </ul>
    </div>
  </div>
</div>

<script>
    console.log('Hola');
    var mocasCanvas = document.getElementById("mocasChart");
    //console.log(mocasCanvas);
    console.log('Hola');
    {% for moca in mocas %}
      {% if moca.session == 0 %}
        var datos1 = {{ moca.datos }};
      {% else %}
        var datos2 = {{ moca.datos }};
      {% endif %}
    {% endfor %}
    console.log(datos1);
    console.log(datos2);
    var dataMoCA1 = {
      label: 'MoCA 1',
      data: datos1,
      backgroundColor: 'rgba(0, 99, 132, 0.6)',
      borderWidth: 0
    };
    console.log('Hola23');
    var dataMoCA2 = {
      label: 'MoCA 2',
      data: datos2,
      backgroundColor: 'rgba(99, 132, 0, 0.6)',
      borderWidth: 0
    };

    var dataMoCAs = {
      labels: ["Visuoespacial", "Identificación", "Atención", "Lenguaje", "Abstracción", "Rec. Diferido", "Orientación"],
      datasets: [dataMoCA1, dataMoCA2]
    };

    var chartOptions = {
      scales: {
        xAxes: [{
          barPercentage: 1,
          categoryPercentage: 0.6
        }]
      }
    };

    var barChart = new Chart(mocasCanvas, {
      type: 'bar',
      data: dataMoCAs,
      options: chartOptions
    });
</script>
{% endblock %}