{% extends "Especialista/baseEspecialista.html" %}

{% block title%} Inicio Especialista{% endblock %}


{% block content %}
{% load static %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot row">
    <div class="container">
      <h1 class="header grey-text text-darken-4 valign-wrapper">¡Le damos la bienvenida, </h1>
      <h1 class="header grey-text text-darken-4 center">Dr(a). {{name}}!</h1>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/perfilEspecialista.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4>Últimas pruebas hechas por sus pacientes:</h4>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content grey lighten-3">
        <br>
        <div class="row">
          <div class="col s6 m5 center-align">
            <p> Aquí va una imagen</p>
          </div>
          <div class="col s6 center-align">
            <p> Aquí va la info de paciente </p>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>¿Qué desea hacer el día de hoy?</h4>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{% static 'images/Paciente_Doctor1.jpg' %}" class="responsive-img" style="height: 100%;">
    </div>
    <div class="card-stacked">
      <div class="card-content green lighten-3">
        <br>
        <h3 class="center-align">¿Es momento de la prueba periódica de un paciente?</h3>
        <h5 class="center-align">Genere la clave de acceso</h5>
        <br><br>
        <div class="row">
          <div class="col s12 center-align">
            <button data-target="modalPacientes" class="btn-large modal-trigger">Presione aquí</button>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>




<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Acciones post-prueba</h4>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content red lighten-2">
        <br>
        <h3 class="center-align">¿El paciente acaba de terminar su prueba?</h3>
        <h5 class="center-align">¡Revise sus resultados!</h5>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <!-- AQUI SE ENLAZA A REPORTES!!! -->
       <a class="waves-effect waves-light btn-large" href="{% url 'reportes' token=access tipo=tipo %}">Presiona aquí</a>
        <br><br>
      </div>
    </div>
    <div class="card-image">
      <img src="{% static 'images/resultados_doctor.jpg' %}" class="responsive-img" style="height: 100%;">
    </div>
  </div>
</div>
<br><br>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{% static 'images/ver_pacientes.jpg' %}" class="responsive-img" style="height: 100%;">
    </div>
    <div class="card-stacked">
      <div class="card-content grey lighten-3">
        <br>
        <h3 class="center-align"> ¡Busque información de sus pacientes y contacte a sus cuidadores! </h3>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'verPacientes' token=access tipo=tipo %}" class="waves-effect waves-light btn-large">Presione aquí</a>
        <br><br>
      </div>
    </div>
  </div>
  <br>
</div>


<div id="modalCve" class="modal">
  <div class="modal-content center">
    <h4>Aquí tiene la clave de acceso para que su paciente pueda realizar su sesión de tamizaje de hoy</h4>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card-panel teal">
            <span class="white-text">{{clave}}</span>
          </div>
        </div>
      </div>
    </div>
    <p>Facilite esta clave a su paciente, será su acceso a su sesión de tamizaje.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#">Gracias, de acuerdo.</a>

  </div>
</div>

<div id="modalCveNo" class="modal">
  <div class="modal-content center">
    <h5>Lo sentimos, hay una sesión pendiente de su paciente, debe terminarla primero. <br><br>Si tiene problemas para generarla, contáctenos y lo arreglaremos.</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#">De acuerdo</a>

  </div>
</div>

<div id="modalPacientes" class="modal">
  <div class="modal-content center">
    <h4>Elija el paciente que realizará su tamizaje, por favor escriba su nombre de usuario</h4>
    <form class="col s6 offset-s4" action="{% url 'Cve' token=access tipo=tipo %}" method="POST">{% csrf_token %}
      <div class="row center">
        <div class="input-field col s6">
          <input placeholder="Escriba aquí el nombre de usuario" id="nomUsu" name="nomUsu" type="text" class="validate"
            maxlength="15">
          <label for="cveRem">Nombre de usuario del paciente</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="modal-close btn waves-effect waves-light btn-large" type="submit" required>Generar clave
            <i class="material-icons right">send</i>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#">De acuerdo</a>

  </div>
</div>


{% endblock %}

{% block js%}
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
{% if clave %}
<script>
  var $ =jQuery.noConflict();
  $(document).ready(function(){
      $('#modalCve').modal();
      $('#modalCve').modal('open'); 
  });

</script>
{% elif exito %}
<script>
    var $ =jQuery.noConflict();
    $(document).ready(function(){
        $('#modalCveNo').modal();
        $('#modalCveNo').modal('open'); 
    });      
  </script>
{% endif %}
{% endblock %}