{% extends "Especialista/baseEspecialista.html" %}

{% block title%} Visualizar Pacientes {% endblock %}

{% block content %}
	
{% load static %}
		
      <div class="container verPacientes_img">
        <div id="inicioPagina" class="row">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12">
          </div>
          <div class="col s12 m11 cuadro" style="padding-bottom: 4%; margin-bottom: 5%; margin-left: 4%">
            <div class="row" style="padding-top: 3%;">
            </div>
            <div class="col s12 m12" style="background-color: grey; color: white;">
              <h6 style="text-align: center;"> <strong> ¡Encuentre rápidamente al paciente que está buscando!  </strong><br> Escriba en el recuadro en blanco un texto por el cual filtrar (nombre de usuario, correo, tipo de usuario, etc). 
              </h6> 
            </div>
            <div class="row"> <p> </p></div>
            <div class="row" style="margin-top: 5%; margin-bottom: 4%;">
              {% if form.errors %}
			          <p style="color: red;">Por favor revise este campo</p>
			        {% endif %}
			        <form action="" method="POST" class="white-text"> {% csrf_token %}
                <div class="col s2 m1" style="text-align: right; font-size: 19px; margin-left: 2%"> Buscar: </div>
                <div type="input-field" class="col s4 m4" style="margin-left: 2%">
                  <input type="text" id="inputBuscar" onkeyup="" placeholder="Escriba aquí" title="Busqueda" class="form-control" style="background: white; color: black; height: 30px; margin-top: 1%;">
                </div>
                <div class="col s3 m2 offset-m3">
                <a style="margin-top: 1%; margin-bottom: 10%"  href="{% url 'inicioE' token=access %}" class="btn grey waves-effect waves-light-grey botones_passwd"> Regresar </a>
              </div>
              </form>
            </div>

            <div class="row"> 
              <div class="col s12 m12 ">
                <strong><h5 class="center" style="color: white"> Lista de Pacientes: </h5></strong><br>
                {% if No_tiene_pacientes %}
                  <br>
                  <div class="col s12 m12" style="background-color: grey; color: white;">
                  <h5 style="text-align: center;"> En este momento, usted no tiene asignado ningún paciente.
                  </h5>
                </div>
                {% else %}
                  <div class="col s12 m12" style="background-color: grey; color: white;">
                    <h6 style="text-align: center;"> Recuerde que puede enviar un mensaje al cuidador de un paciente determinado presionando el botón azul.
                    </h6>
                  </div>
                  <div class="row"> <p> </p></div>
                <!-- Aqui se pone la tabla con la lista de Pacientes -->
                  <table id="tablaPacientes" class="responsive-table" style="background-color: white; padding-top: 1%; padding-bottom: 3%; border: 2px solid rgba(83, 143, 83, 0.999); table-layout: fixed;" >
                    <tbody>
                      <tr style="background: rgba(83, 143, 83, 0.671); border: 2px solid rgba(83, 143, 83, 0.999);">
                        <th class="center "> Usuario </th>
                        <th class="center"> Nombre Completo</th>
                        <th class="center"> Cuidador</th>
                        <th class="center"> Fecha de nacimiento </th>
                        <th class="center"> Escolaridad </th>
                        <th class="center"> Sexo </th>
                        <th class="center"> Fecha de Diagnóstico </th>
                        <th class="center"> Acción </th>
                      </tr>
                      <tr id="trP_sinRegistros" style="display: none;">  <!-- Fila oculta -->
                        <td colspan=8 class="center"> No hay coincidencia de su búsqueda en esta tabla </td>
                      </tr>
                      {% for key, value in listPatients.items %}
                          <tr style="border: 2px solid rgba(83, 143, 83, 0.999);">
                            <td id="idUserP" class="celdas_admin"> {{value.username}} </td>
                            <td id="name" class="celdas_admin"> {{value.first_name}} {{value.last_name}}</td>
                            {% if value.cuidador_name is none or value.cuidador_name == -1 %} <!-- Añadimos texto default si no tiene cuidador: -->
                              <td id="care" class="celdas_admin"> No tiene </td>
                            {% else %}
                              <td id="care" class="celdas_admin">{{value.cuidador_name}}</td>
                            {% endif %}
                            <td id="born_date" class="celdas_admin"> {{value.fechaNac}} </td>
                            <td id="scholar_level" class="celdas_admin"> {{value.escolaridad}}</td>
                            <td id="sex" class="celdas_admin"> {{value.sexo}} </td>
                            <td id="diag_date" class="celdas_admin"> {{value.fechaDiag}} </td>
                            <td id="MensajeCuidador" class="celdas_admin"> <a href="{% url 'mensajeC' token=access tipo=tipo pacienteC=value.idPaciente %}" class="btn waves-effect waves-light" type="submit" name="btn_Mensaje"> Mensaje </a></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col s12 offset-m8">
                <a style="margin-top: 7%"  href="#inicioPagina" class="btn waves-effect waves-light botones_passwd"> Volver al inicio </a>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}	
    