<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <ul id="nav-mobile" class="sidenav">
	<li><a href="{% url 'Modificar_EliminarU' token=access tipo=tipo name=name %}"> Gestionar Usuarios </a></li>
        <li><a href="{% url 'registrarA' token=access tipo=tipo name=name %}"> Registrar otro Administrador </a></li>
	<li><a class='dropdown-trigger' href='#' data-target='dropdown5'><i class="material-icons">account_circle</i> Perfil <i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id='dropdown5' class='dropdown-content' style="color: #333">
            <li><a href="{% url 'editarA' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
        </ul>
    </ul>
    <div class="navbar-fixed">
        <nav class="brown lighten-3" role="navigation">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo dark-text darken-3 titulo"> Zeitgeist </a>
                <ul class="right hide-on-med-and-down">
                    <li><a class='dropdown-trigger' href='#' data-target='opciones' href="#"><i class="material-icons left">search</i> Opciones como Administrador</a></li>
                        <ul id='opciones' class='dropdown-content' style="color: #333">
                            <li><a href="{% url 'Modificar_EliminarU' token=access tipo=tipo name=name %}"> Gestionar Usuarios </a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="{% url 'registrarA' token=access tipo=tipo name=name %}"> Registrar otro Administrador </a></li>
                        </ul>
                    <li><a class='dropdown-trigger' href='#' data-target='dropdown2'><i class="material-icons left">account_circle</i> Perfil </a></li>
                        <ul id='dropdown2' class='dropdown-content' style="color: #333">
                            <li><a href="{% url 'editarA' token=access tipo=tipo name=name %}"> Editar Perfil</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
                        </ul>
                    </ul>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>


  <div id="modalCerrarSesion" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center;">¿Está seguro de cerrar la sesión?</h4>
      <hr><br>
      <h6 style="text-align: center;"> Si es así, apriete el botón "Aceptar", en caso contrario presione "Cancelar". </h6>
      <br>
      <div class="row">
        <div class="col s6 center">
            <a href="{% url 'cerrarSesion'%}"  class="waves-effect waves-green btn-flat" style="color: #fff; background-color: rgb(33, 185, 33);"  name="cerrarSesion">&nbsp; Aceptar &nbsp;</a>
        </div>
        <div class="col s6 center">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: salmon;">Cancelar</a>
        </div>
      </div>
    </div>
  </div>

    {% block content %}

    {% endblock %}

    </div>

    {% include "Usuarios/footer.html" %}


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <script>
        $(".dropdown-trigger").dropdown();
    </script>
    <script>
        $(document).ready(function () {
            $('#modalCerrarSesion').modal();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('#modalRegistroValido').modal();
            $('#modalRegistroValido').modal('open');
            $('#modalReglasEditarRP').modal();
            $('#modalReglasEditarRP').modal('open');
            //$('#modalEdicionValida').modal('open');
        });
    </script>
    {% if modified %}
     <script>
        $(document).ready(function () {
            M.toast({html: "¡Felicidades, sus datos han sido modificados correctamente!", displayLength: 5500, classes: 'brown darken-1 rounded'})
        });
    </script>
     {% endif %}

    <!-- Errores al intentar hacer una modificación de contraseña -->
    {% if  invalid %}
     <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: asegúrese de escribir su contraseña actual correctamente para poder cambiarla.", displayLength: 7600, classes: 'brown darken-1 rounded'})
        });
    </script>           
    {% endif %}
    {% if pwd_invalid %}
    <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: recuerde que la nueva contraseña debe ser de 8 caracteres y tener al menos un número y una letra mayúscula además de letras minúsculas.", displayLength: 8200, classes: 'brown darken-1 rounded'})
        });
    </script>      
    {% endif %}
    {% if no_match_pdws %}
    <script>
        $(document).ready(function () {
            M.toast({html: "Lo sentimos, ha habido un problema en la actualizacion de su contraseña: la contraseña nueva no coincidió con su confirmación.", displayLength: 7200, classes: 'brown darken-1 rounded'})
        });
    </script>    
    {% endif %}
    <!-- Aqui acaban esos errores -->

    <!-- El script siguiente es el que se encarga del filtro de datos desde la vista "Opciones administrador":-->
    <script type="text/javascript"> 
        document.querySelector("#inputBuscar").onkeyup = function(){
            $TableFilter("#tablaPacientes", "trP_sinRegistros", this.value, 0); //Activamos operacion del campo de búsqueda.
            $TableFilter("#tablaOtrosU", "trO_sinRegistros", this.value, 0); //Hacemos filtro para la otra tabla
        } 

        $TableFilter = function(idtabla, filaOculta, value, cuentaFilas){
            var rows = document.querySelectorAll(idtabla + ' tbody tr'); //filas de la tabla
            var row, tr_invisible;
            
            for(var i = 1; i < rows.length; i++){ //Empieza i = 1 para no ocultar header
                var showRow = false;
                row = rows[i];
                row.style.display = 'none'; //Se van ocultando las filas
                tr_invisible = document.getElementById(filaOculta).style; 
                tr_invisible.display = 'none';

                for(var x = 0; x < row.childElementCount-1; x++){ 
                    if(row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1){
                        showRow = true; //Al tener el valor escrito en el campo en cualquiera de sus columnas, se reactiva la fila
                        cuentaFilas += 1; 
                        break;
                    }
                } 
                if(showRow){ 
                    row.style.display = null;
                }   
            }
            if(cuentaFilas == 0){ //Si no hay filas que coincidan con busqueda, lo notificamos
                tr_invisible.display = 'table-row';
            }
        }
    </script>
     
</body>

</html>
