{% extends "Administrador/baseAdministrador.html" %}

{% block title%} Inicio Administrador{% endblock %}


{% block content %}
{% load static %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot row">
      <div class="container">
        <h1 class="grey-text text-darken-4">¡Le damos la bienvenida, <strong> {{name}}</strong>!</h1>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/admin_ini.jpg' %}" alt="Unsplashed background img 1"></div>
  <!-- {% if modified %}
    <div id="modalEdicionValida" class="modal">
      <div class="modal-content">
        <h5 style="text-align: center; color: black; margin-bottom: 5%;">¡Felicidades, sus datos han sido modificados correctamente!</h5>
        <hr>
        <div class="modal-footer">
            <a href="#!" class="center modal-close waves-effect waves-green btn-flat" style="color: #fff; background-color: green;">Aceptar</a>
        </div>
      </div>
    </div>                  Este Modal serviría para avisar que la edicion se hizo correctamente :/
  {% endif %}-->
    {% if AdminRegistration_Successful %}
      <div id="modalRegistroValido" class="modal">
        <div class="modal-content">
          <h5 style="text-align: center; color: black; margin-bottom: 5%;">¡El nuevo usuario Administrador ha sido registrado exitosamente!</h5>
          <hr>
          <div class="modal-footer">
              <a href="#!" class="center modal-close waves-effect waves-brown btn-flat" style="color: #fff; background-color: brown;">Aceptar</a>
          </div>
        </div>
      </div>             
    {% endif %}
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>¿Que desea hacer el día de hoy?</h4>

        </div>
      </div>
    </div>
  </div>

  <div id="opcionesAdmin" class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content green lighten-4">
          <br>
          <h4 class="center-align">¿Ha llegado un nuevo paciente o debe hacer algún cambio extremo?</h4><br>
          <h6 class="center-align"> Modifique la relación del paciente con otros usuarios o elimine usuarios </h6>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'Modificar_EliminarU' token=access tipo=tipo name=name %}" class="waves-effect waves-light btn-large">Presione aquí</a>
          <br><br>
        </div>
      </div>
      <div class="card-image">
        <img src="{% static 'images/admin_cambiarRelacion.jpg' %}" class="responsive-img" style="height: 100%;">
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <br><br>
        </div>
      </div>
    </div>
  </div>

  <div id="registrarAdmin" class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{% static 'images/admin_.jpg' %}" class="responsive-img" style="height: 100%;">
      </div>      
      <div class="card-stacked">
        <div class="card-content grey lighten-2">
          <br>
          <h4 class="center-align">¿Está por incorporarse un nuevo usuario Administrador?</h4><br>
          <h6 class="center-align">Regístrelo de manera rápida y segura </h6>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a  href="{% url 'registrarA' token=access tipo=tipo name=name %}"  class="waves-effect waves-light btn-large">Presione aquí</a>
          <br><br>
        </div>
      </div>
    </div>
  </div>
  <br>



{% endblock %}