{% extends "Administrador/baseAdministrador.html" %}

{% block title%} Opciones de Administrador {% endblock %}

{% block content %}
	
{% load static %}
		
      <div class="container  modificar_relacion_img">
        <div id="inicioPagina" class="row">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro_admin" style="padding-bottom: 4%; margin-bottom: 5%;">
            <div class="row" style="padding-top: 3%;">
            </div>
            <div class="col s12 m12" style="background-color: rgba(83, 143, 83, 0.671); color: white;">
              <h6 style="text-align: center;"> <strong> ¡Encuentre rápidamente al usuario que está buscando!  </strong><br> Escriba en el recuadro en blanco un texto por el cual filtrar (nombre de usuario, correo, tipo de usuario, etc). 
              </h6> 
            </div>
            <div class="row"> <p> </p></div>
            <div class="row" style="margin-top: 5%; margin-bottom: 4%;">
              {% if form.errors %}
			          <p style="color: red;">Por favor revise este campo</p>
			        {% endif %}
			        <form action="" method="POST" class="white-text"> {% csrf_token %}
                <div class="col s2 m1" style="text-align: right; font-size: 19px; margin-left: 2%"> Buscar: </div>
                <div type="input-field" class="col s4 m4" style="margin-left: 2%">
                  <input type="text" id="inputBuscar" onkeyup="" placeholder="Escriba aquí" title="Busqueda" class="form-control" style="background: white; color: black; height: 30px; margin-top: 1%;">
                </div>
                <div class="col s3 m2 offset-m3">
                <a style="margin-top: 1%; margin-bottom: 10%"  href="{% url 'inicioA' token=access %}" class="btn brown waves-effect waves-light-brown botones_passwd"> Regresar </a>
              </div>
              </form>
            </div>

            <div class="row"> 
              <div class="col s12 m12 ">
                <strong><h6 class="center" style="color: white"> Lista de Pacientes: </h6></strong><br>
                <!-- Aqui se pone la tabla con la lista de Pacientes -->
                <table id="tablaPacientes" class="responsive-table" style="background-color: white; padding-top: 1%; padding-bottom: 3%; border: 2px solid rgba(83, 143, 83, 0.999); table-layout: fixed;" >
                  <tbody>
                    <tr style="background: rgba(83, 143, 83, 0.671); border: 2px solid rgba(83, 143, 83, 0.999);">
                      <th class="center "> Usuario </th>
                      <th class="center"> Nombre Completo</th>
                      <th class="center"> Correo </th>
                      <th class="center"> Cuidador</th>
                      <th class="center"> Doctor</th>
                      <th colspan=2 class="center"> Acciones </th>
                    </tr>
                    {% for key, value in listPatients.items %}
                        <tr style="border: 2px solid rgba(83, 143, 83, 0.999);">
                          <td id="idUserP" class="celdas_admin"> {{value.username}} </td>
                          <td id="name" class="celdas_admin"> {{value.first_name}} {{value.last_name}}</td>
                          <td id="email" class="celdas_admin"> {{value.email}} </td>
                          {% if value.cuidador is none %} <!-- Añadimos texto default si no tiene cuidador: -->
                            <td id="care" class="celdas_admin"> No tiene </td>
                          {% else %}
                            <td id="care" class="celdas_admin">{{value.cuidador}}</td>
                          {% endif %}
                          {% if value.especialista is none %} <!-- Lo mismo para el doctor: -->
                            <td id="doctor" class="celdas_admin"> No tiene </td>
                          {% else %}
                            <td id="doctor" class="celdas_admin">{{value.especialista}}</td>
                          {% endif %}
                          <td id="Editar" class="center"> <a href="{% url 'relacionesP' token=access tipo=tipo name=name paciente=value.id%}" class="btn waves-effect waves-light" type="submit" name="EditarRelaciones">Relaciones</a> </td>
                          <td id="Eliminar"> <button class="btn red waves-effect waves-light-red" onclick="eliminarIdentificador('{{value.id}}')">Eliminar</button> </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row"> 
              <div class="col s12 m12 ">
                <strong><h6 class="center" style="color: white; margin-top: 7%"> Otros Usuarios: </h6></strong><br>
                <!-- Aqui se pone la tabla con la lista de Pacientes -->
                <table id="tablaOtrosU" class="responsive-table" style="background-color: white; padding-top: 1%; padding-bottom: 3%; border: 2px solid rgba(83, 143, 83, 0.999); table-layout: fixed;" >
                  <tbody>
                    <tr style="background: rgba(83, 143, 83, 0.671); border: 2px solid rgba(83, 143, 83, 0.999);">
                      <th class="center "> Usuario </th>
                      <th class="center"> Nombre Completo </th>
                      <th class="center"> Correo </th>
                      <th class="center"> Tipo de Usuario </th>
                      <th class="center"> Acción </th>
                    </tr>
                    {% for key, value in listOUsers.items %}
                        <tr style="border: 2px solid rgba(83, 143, 83, 0.999);">
                          <td id="idUserO" class="celdas_admin"> {{value.username}} </td>
                          <td class="celdas_admin"> {{value.first_name}} {{value.last_name}} </td>
                          <td class="celdas_admin"> {{value.email}} </td>
                          <td class="celdas_admin"><strong> {{value.user_type}} </strong></td>
                          <td class="center"> <button class="btn red waves-effect waves-light-red"  onclick="eliminarIdentificador('{{value.id}}')">Eliminar</button> </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col s12 offset-m8">
                <a style="margin-top: 7%"  href="#inicioPagina" class="btn waves-effect waves-light botones_passwd"> Volver al inicio </a>
              </div>
            </div>
          </div>
        </div>
      </div>


     <div id="modalEliminar" class="modal">
        <div class="modal-content">
          <h4 style="text-align: center;">¿Está seguro de eliminar a este usuario?</h4>
          <hr><br>
          <h6 style="text-align: center;"> Esta operación sera irreversible </h6>
          <br>
          <div class="row">
            <div class="col s6 center">
                <a href="{% url 'cerrarSesion'%}" class="waves-effect waves-red btn-flat" style="color: #fff; background-color: red;"  name="cerrarSesion">&nbsp; Aceptar &nbsp;</a>
            </div>
            <div class="col s6 center">
                <a href="#!" class="modal-close waves-effect waves-grey btn-flat" style="color: #fff; background-color: grey;">Cancelar</a>
            </div>
          </div>
        </div>
      </div>

  

{% endblock %}	
    