{% extends base %}

{% block title%} {% endblock %}

{% block content %}

{% block content1 %}
<!-- Contenido que cambia (imagen)-->
{% endblock %}
<div class="row">
  <div class="col s11 m2">
  </div>
  <div class="col s11 m8 cuadro">
    <br>
    <div class="row">
      {% if "ya_existe_registro" in request.GET  or already_exists%}
      <div style="background-color: lightcoral; font-size: 18px; text-align: center;" class="container error">
        <p> El nombre de usuario que está escribiendo ya existe, pruebe a modificar este campo con un nombre de usuario distinto. </p>
      </div>
      {% endif %}
      {% if "no_valido" in request.GET %}
      <div style="background-color: salmon; font-size: 18px;" class="container error">
        <p style="text-align: center;"> Ha habido un problema en el registro, asegúrese de tomar en cuenta lo siguiente:
        <ol style="padding-bottom: 14px;">
          <li> Escribir un correo electrónico válido. </li>
          <li> El nombre de usuario debe tener máximo 150 caracteres. </li>
        </ol>
        </p>
      </div>
      {% endif %}
      {% if "error_contrasena" in request.GET %}
      <div style="background-color: lightsalmon; font-size: 18px; text-align: center;" class="container error">
        <p> Asegúrese de escribir una contraseña de al menos 8 caracteres, combinando números y letras mayúsculas y
          minúsculas. </p>
      </div>
      {% endif %}
      {% if "contrasenas_no_coinciden" in request.GET %}
      <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
        <p> La contraseña introducida no coincide con su confirmación. Por favor, inténtelo de nuevo. </p>
      </div>
      {% endif %}
      {% if problema_fechaDiag %}
      <div style="background-color: palevioletred; font-size: 18px; text-align: center;" class="container error">
        <p> La fecha de diagnóstico debe ser anterior a la fecha actual y no debe anteceder al año 1950. <br> Por favor inténtelo de nuevo. </p>
      </div>
      {% endif %}
      <div class="col s11 m6 offset-m2 ">
        <h6 class="white-text" style="text-align: center;"> Modifique los datos de su perfil: </h6>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s11">
        {% if form.errors %}
        <p style="color: red;">Por favor, revise este campo.</p>
        {% endif %}
        <form action="" method="POST" class="white-text"> {% csrf_token %}
          <div class="col s11 m8  offset-m2">
            <table>
              {{form.as_table}}
            </table>
            <br>
            <div class="col s11 m6 offset-m5" style="padding-bottom: 4%; margin-bottom: 5%;">
              <button data-target="modalchangeP" class="btn modal-trigger">Cambiar contraseña</button>
            </div>
            <br>
            <div class="col s11 m6 offset-m5">
              <button class="btn waves-effect waves-light  botones" style="color: #333" type="submit" name="action">
                Guardar cambios <i class="material-icons right">send</i></button>
            </div>
        </form>
        <div class="col s12">
          <p></p><br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m1">
</div>
<br>
</div>

<div id="modalchangeP" class="modal">
  <div class="modal-content center">
    <h3>Cambia tu contraseña</h3>
    <hr class="divider" />
    <h5>Llena los siguientes campos</h5>
    <br>
    <div class="row">
      <form class="col s6 offset-s4" action="{% url 'CambiarPwd' iduser=user token=access tipo=tipo name=name %}" method="POST">{% csrf_token %}
        <div class="row">
          <div class="input-field">
            <input placeholder="Escriba aquí su contraseña" id="pwdactual" name="pwdactual" type="password" class="validate">
            <label for="pwdactual">Contraseña actual: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input placeholder="Escriba aquí su contraseña" id="pwdnueva" name="pwdnueva" type="password" class="validate">
            <label for="pwdnueva">Contraseña nueva: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input placeholder="Escriba aquí su contraseña" id="pwdnueva2" name="pwdnueva2" type="password" class="validate">
            <label for="pwdnueva2">Repita contraseña nueva: </label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Guardar cambios <i class="material-icons right">send</i></button>
          </div>
          <div class="col s6">
            <a href="#!" class="modal-close waves-effect waves-green">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

