{% extends base %}

{% block title%} {% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 center">
      <br>
      <a class="waves-effect red lighten-3 waves-light btn modal-trigger" style="color: #fff;" href="#modalReg"><strong>¡Instrucciones aquí!</strong></a>
      <br>
    </div>
  </div>


{% block content1 %} <!-- Contenido que cambia (imagen)-->
{% endblock %}

  <div class="row">
    <div class="col s11 m2">
    </div>
    <div class="col s11 m8 cuadro">
          <br>
      <div class = "row">
            {% if "ya_existe_registro" in request.GET or already_exists %}
                  <div style="background-color: lightcoral; font-size: 18px; text-align: center;" class="container error">
                    <p> El usuario que intenta registrar presenta problemas o ya existe, pruebe a crear otro usuario siguiendo las restricciones especificadas en las Instrucciones, o dirígase a la sección de recuperación de contraseña si la ha olvidado (<strong><a href="{% url 'Recuperar' %}">presione aquí</a></strong>).</p> 
                  </div>
            {% endif %}
            {% if "no_valido" in request.GET or invalid_reg %}
                  <div style="background-color: salmon; font-size: 18px;" class="container error">
                    <p style="text-align: center;"> Ha habido un problema en el registro, asegúrese de tomar en cuenta lo siguiente:
                    <ol style="padding-bottom: 14px; list-style-type: square;">
                        <li> Escribir un correo electrónico válido. </li>
                        <li> El nombre de usuario debe tener máximo 150 caracteres y no puede repetirse, si cree que esto es un error, acuda con su administrador. </li>
                    </ol></p>
                  </div>
            {% endif %}
            {% if "pwdinvalid" in request.GET or invalid_pwd %}
                  <div style="background-color: lightsalmon; font-size: 18px; text-align: center;" class="container error">
                    <p> Asegúrese de escribir una contraseña de al menos 8 caracteres, combinando números y letras mayúsculas y minúsculas. </p>
                  </div>
            {% endif %}
            {% if "pwdns" in request.GET or No_match_pwds %}
                  <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                    <p> La contraseña introducida no coincide con su confirmación. Por favor, inténtelo de nuevo. </p>
                  </div>
            {% endif %}
            {% if "fechaDiag_mayor_fechaIng" in request.GET %}
                  <div style="background-color: palevioletred; font-size: 18px; text-align: center;" class="container error">
                    <p> La fecha de diagnóstico debe ser anterior a la fecha en la que se hace el registro.</p> 
                  </div>
            {% endif %}
            {% if "fechaNac_Paciente" in request.GET %}
                  <div style="background-color: palevioletred; font-size: 18px; text-align: center;" class="container error">
                    <p> El paciente debe tener al menos 60 años para poder ser registrado como tal. <br>Por favor, inténtelo de nuevo.</p> 
                  </div>
            {% endif %}
            {% if "fechas_no_validas" in request.GET %}
                  <div style="background-color: plum; font-size: 18px; text-align: center;" class="container error">
                    <p>  La fecha de diagnostico y fecha de nacimiento no pueden registrarse en el día que usted indica, por favor compruebe las fechas y vuelva a escribirlas. </p>
                    <p>  Asegúrese de escribir un año mayor a 1890 y que las fechas no sobrepasen a la fecha actual. </p> 
                  </div>
            {% endif %}
            {% if "cperror" in request.GET %}
                  <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                    <p> Hubo un error en la validación de su cédula profesional, por favor inténtelo nuevamente en unos minutos o asegurese de que esta cédula no esté previamente registrada en el sistema, recurra a un administrador de Zeitgeist para arreglar este problema. </p>
                  </div>
            {% endif %}
            {% if "cpincorrecta" in request.GET %}
                  <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                    <p> La cédula profesional que ingresó no es válida. Por favor asegúrese de que sea su cédula profesional de la especialidad en geriatría o como médico interno.</p>
                  </div>
            {% endif %}
              <div class="col s11 m5 offset-m2 ">
                   <h6 class="white-text"> Está intentando registrar un usuario </h6>
              </div>
              <div class="col s11 m5 ">
                {% block content2 %} <!-- Contenido que cambia (tipo usuario)-->
                {% endblock %}
            </div>
      </div>
      <br>
    <div class="row">
    <div class="col s11">
        {% if form.errors %}
        <p style="color: red;">Por favor, revise este campo.</p>
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
          <div class="col s11 m8  offset-m1">
            <table>
              {{form.as_table}}
            </table>
            <br><br>
            <div class="col s11 m6 offset-m5">
              <button class="btn waves-effect waves-red  botones" style="color: #333" type="submit" name="action"> Registrar <i
              class="material-icons right">send</i></button>
            </div>
        </form>
        <div class="col s12"> <p></p><br></div>
    </div>	
  </div>
  </div>
</div>
  <div class="row">
  </div>
 <br>
</div>

<!-- Modals -->

<div id="modalReg" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h3 style="text-align: center;">Instrucciones de registro:</h3>
    <hr class="divider" />
    <h6> Para poder registrar un usuario, debe llenar cada campo que aparecerá a continuación, siguiendo las siguientes condiciones: </h6>
    <h6 style="text-align: justify;"> 
      <ol style="list-style-type: square;"> 
       <li> La extensión del <strong>nombre o los nombres</strong> escritos no debe exceder los 150 caracteres en total. Lo mismo debe acatarse para escribir los <strong>apellidos.</strong> </li>
       <li> El <strong>nombre de usuario</strong> no deberá sobrepasar los 150 caracteres y no puede llevar espacios en blanco, aunque si se permite guión bajo o punto. </li>
       <li> Si usted se registrará como <strong>especialista</strong>, el <strong>nombre de usuario</strong> será su cédula de especialista geriatra, escríbala correctamente ya que será validada su existencia y que no esté repetida. </li>
       <li> El <strong>correo</strong> debe tener la estructura correcta (se valida que tenga "@" y un dominio: .com, .mx, etc.) y debe ser un correo de uso personal (no repetido) ya que se utilizará para ponerse en contacto con usted. </li>
       <li> La <strong>contraseña</strong> debe estar formada por mínimo 8 caracteres, combinando letras (tanto minúsculas como mayúsculas) y números. Si usted quiere registrarse como paciente, no tendrá que cumplir esta condición, su contraseña no tendrá restricciones. </li>
       <li> <strong>Confirme la contraseña</strong> que ha escrito, escribala exactamente igual. </li>
       <li> Si usted se registra como <strong>paciente</strong>, seleccione su <strong>escolaridad</strong> y <strong>sexo</strong> en el recuadro, presionándolo para ver las opciones. En Escolaridad seleccione el último grado de estudios obtenido. </li>
       <li> Si es <strong>paciente</strong>, deberá agregar su <strong>fecha de nacimiento</strong> presionando sobre el texto "dd/mm/yyyy" para abrir el calendario y buscar la fecha apropiada, esta fecha <strong>no podrá ser modificada más adelante</strong> así que tenga cuidado al establecerla. <br>
            Puede moverse por años, si selecciona el año en el calendario, por meses o escribirla de manera manual sin necesidad de usar el calendario. 
            Solo recuerde que deben ser una fecha coherente, pues se validará que corresponda a un adulto de la tercera edad, y no sea una fecha anterior al año 1890.
       </li>
       <li> Como <strong>paciente</strong>, igualmente deberá seleccionar la <strong>fecha en que fue diagnosticado</strong> con DCL, para ello presione el campo correspondiente y eliga una fecha coherente en el calendario.</li>
       <li> Si usted se registra como <strong>especialista</strong>, en el campo <strong>datos generales </strong>, escriba los datos que usted considere importantes para su paciente (forma de contacto: teléfono y correo, dirección del consultorio u hospital, especialización, etc).</li>
       <li> Si es <strong>especialista</strong>, ingrese el <strong>número de pacientes</strong> que desea atender presionando sobre las flechas o escribiéndolo manualmente, el mínimo es 1 y el máximo son 30. </li>
      </ol>
    </h6> 
    <h6> Una vez que haya terminado de llenar todos los campos, presione <strong>"Registrarse"</strong> y listo, ¡Ya dispondra de su perfil de usuario! </h6>
    <br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: lightcoral;">Aceptar</a>
  </div>
</div>


{% endblock %}