<html>

<body>
    <footer class="page-footer red lighten-2">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h5 class="white-text">Zeitgeist</h5>
                    <p class="white-text" style="font-size: 18px;"> Proyecto estudiantil como proceso de titulación que busca apoyar a especialistas a brindar tratamiento no farmacológico a pacientes con DCL.</p>


                </div>
                <div class="col s4 offset-m2">
                    <h5 class="white-text">Referencias</h5>
                    <ul style="font-size: 18px;">
                        <li><a class="white-text" href="https://www.ipn.mx/" target="_blank"> Instituto Politécnico Nacional </a></li>
                        <hr style="color: white">
                        <li><a class="white-text" href="https://www.escom.ipn.mx/" target="_blank"> Escuela Superior de Cómputo </a></li>    
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                &#169;2021 Zeitgeist Inc. Todos los derechos reservados.
            </div>
        </div>
    </footer>
</body>

</html>
