{% extends "Usuarios/baseIndex.html" %}

{% block title%} Iniciar sesión {% endblock %}

{% block content %}
{% load static %}
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="{% static 'images/login.jpg' %}" style="opacity: 1;"></div>

  <div class="container">
    <div class="row">
      <div class="col s12 m1"> <!-- Si se acaba de hacer un registro válido, se nos rediríge aquí:-->
      </div>
      <div class="col s12 m10 cuadro">
        <div class="col s12 m1">
        </div>
        {% if form.errors %}
        <p style="color: red;">Por favor revise este campo</p>
        {% endif %}
        {% if "changevalid" in request.GET %}
          <div style="background-color: green; font-size: 18px; text-align: center;" class="container error">
            <p> ¡Felicidades, se ha cambiado tu contraseña correctamente!, acceda de nuevo.</p>
          </div>
        {% endif %}
        {% if "registro_valido" in request.GET %}
          <div style="background-color: green; font-size: 18px; text-align: center;" class="container error">
            <p> ¡Felicidades, se ha registrado correctamente!, acceda con su nuevo usuario.</p>
          </div>
        {% endif %}
        {% if "404" in request.GET %}
          <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
            <p> Lo sentimos, El tipo de usuario es incorrecto, intentalo de nuevo.</p>
          </div>
        {% endif %}
        {% if "401" in request.GET %}
          <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
            <p> Lo sentimos, alguno de tus datos no es correcto. ¡Quizá sea buena idea comprobar que todos los datos sean correctos o registrar al nuevo usuario!</p>
          </div>
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
          <div class="col s12 m9 offset-m0">
            <table class="white-text">
              {{form.as_table}}
            </table>
            <div class="col s12"> <p></p> </div>
            <div class="col s12 m6 offset-m5">
              <button class="btn waves-effect waves-light botones" style="color: #333" type="submit" name="action"> Ingresar <i
                  class="material-icons right">send</i></button>
            </div>
        </form>
      </div>
      <div class="col s12 m6 center">
        <p> ¿Olvidó su contraseña? <a href="{% url 'Recuperar' %}"><strong> Presione aquí </strong></a> </p>
      </div>
      <div class="col s12 m6 center">
        <p> ¿No tiene cuenta? <a href="/"><strong> Regístrese aquí </strong></a> </p> <!-- <a href="Usuarios/resetPwd.html"> -->
      </div>
    </div>
    <div class="col s12 m1">
    </div>
    <br>
  </div>
</div>
</div>
{% endblock %}

{% block js%}

<script>
  $(document).ready(function () {
      $('select').formSelect();
  });
</script>
{% endblock %}
