{% extends "Usuarios/baseIndex.html" %}

{% block title%} {% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 center">
      <br>
      <a class="waves-effect red lighten-3 waves-light btn modal-trigger" style="color: #fff;" href="#modalReg"><strong>¡Presione aquí para leer las instrucciones!</strong></a>
      <br>
    </div>
  </div>

{% block content1 %} <!-- Contenido que cambia (imagen)-->
{% endblock %}

  <div class="row">
    <div class="col s11 m1">
    </div>
    <div class="col s11 m9 cuadro">
          <br>
      <div class = "row">
            {% if "ya_existe_registro" in request.GET %}
                  <div style="background-color: lightcoral; font-size: 18px; text-align: center;" class="container error">
                    <p> El usuario que intenta registrar ya existe, pruebe a crear otro usuario o dirígase a la sección de recuperación de contraseña si la ha olvidado (<strong><a href="{% url 'Recuperar' %}">presione aquí</a></strong>).</p> 
                  </div>
            {% endif %}
            {% if "no_valido" in request.GET %}
                  <div style="background-color: salmon; font-size: 18px;" class="container error">
                    <p style="text-align: center;"> Ha habido un problema en el registro, asegúrese de tomar en cuenta lo siguiente:
                    <ol style="padding-bottom: 14px; list-style-type: square;">
                        <li> Escribir un correo electrónico válido. </li>
                        <li> El nombre de usuario debe tener máximo 20 caracteres. </li>
                    </ol></p>
                  </div>
            {% endif %}
            {% if "error_contrasena" in request.GET %}
                  <div style="background-color: lightsalmon; font-size: 18px; text-align: center;" class="container error">
                    <p> Asegúrese de escribir una contraseña de al menos 8 caracteres, combinando números y letras mayúsculas y minúsculas. </p>
                  </div>
            {% endif %}
            {% if "contrasenas_no_coinciden" in request.GET %}
                  <div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
                    <p> La contraseña introducida no coincide con su confirmación. Por favor, inténtelo de nuevo. </p>
                  </div>
            {% endif %}
            {% if "fechaDiag_mayor_fechaIng" in request.GET %}
                  <div style="background-color: palevioletred; font-size: 18px; text-align: center;" class="container error">
                    <p> La fecha de diagnóstico debe ser anterior a la fecha en la que se hace el registro.</p> 
                  </div>
            {% endif %}
            {% if "fechas_no_validas" in request.GET %}
                  <div style="background-color: plum; font-size: 18px; text-align: center;" class="container error">
                    <p>  La fecha de diagnostico y fecha de nacimiento no pueden registrarse en el día que usted indica, por favor compruebe las fechas y vuelva a escribirlas. </p>
                    <p>  Asegúrese de escribir un año mayor a 1890 y que las fechas no sobrepasen a la fecha actual. </p> 
                  </div>
            {% endif %}
              <div class="col s11 m6 offset-m2 ">
                   <h6 class="white-text"> Está intentando registrarse como: </h6>
              </div>
              <div class="col s11 m4 ">
                {% block content2 %} <!-- Contenido que cambia (tipo usuario)-->
                {% endblock %}
            </div>
      </div>
      <br>
    <div class="row">
    <div class="col s11">
        {% if form.errors %}
        <p style="color: red;">Por favor, revise este campo.</p>
        {% endif %}
        <form action="" method="POST" class="white-text"> {% csrf_token %}
          <div class="col s11 m8  offset-m1">
            <table>
              {{form.as_table}}
            </table>
            <br><br>
            <div class="col s11 m6 offset-m5">
              <button class="btn waves-effect waves-red  botones" style="color: #333" type="submit" name="action"> Registrarse <i
              class="material-icons right">send</i></button>
            </div>
        </form>
        <div class="col s12"> <p></p><br></div>
    </div>	
  </div>
  </div>
</div>
  <div class="row">
  </div>
 <br>
</div>

<!-- Modals -->

<div id="modalReg" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h3 style="text-align: center;">Instrucciones de registro:</h3>
    <hr class="divider" />
    <h6> Para poder registrar un usuario, debe llenar cada campo que aparecerá a continuación, siguiendo las siguientes condiciones: </h6>
    <h6 style="text-align: justify;"> 
      <ol style="list-style-type: square;"> 
       <li> El nombre completo no debe exceder los 70 caracteres y se recomienda separar nombre(s) y apellidos con un espacio en blanco. </li>
       <li> El nombre de usuario no deberá sobrepasar los 20 caracteres y puede llevar o no espacios en blanco y números. </li>
       <li> Si usted se registrará como especialista, el nombre de usuario será su cédula de especialista geriatra, escríbala correctamente ya que será validada la existencia de dicha cédula. </li>
       <li> El correo debe tener la estructura correcta (se valida que tenga "@" y un dominio: .com, .mx, etc.) y debe ser un correo de uso personal ya que se utilizará para ponerse en contacto con usted. </li>
       <li> La contraseña debe estar formada por mínimo 8 caracteres y máximo 50, combinando letras (tanto minúsculas como mayúsculas) y números. Si usted quiere registrarse como paciente, no tendrá que cumplir esta condición, su contraseña no tendrá restricciones. </li>
       <li> Confirme la contraseña que ha escrito, escribala exactamente igual. </li>
       <li> Si usted se registra como paciente, seleccione su escolaridad y sexo en el recuadro, presionándolo para ver las opciones. En Escolaridad seleccione el último grado de estudios obtenido. </li>
       <li> Si es paciente, deberá agregar algunas fechas, presionando sobre el texto "dd/mm/yyyy" para abrir el calendario y buscar la fecha apropiada. 
            Puede moverse por años, si selecciona el año en el calendario, por meses o escribirla de manera manual sin necesidad de usar el calendario. 
            Solo recuerde que deben ser fechas coherentes, pues se validará que no sean fechas que aún no han llegado, ni fechas anteriores al año 1890.
       </li>
       <li> Si usted se registra como especialista, en el campo "Datos generales", borre el texto y escriba datos que usted considere importantes para su paciente (forma de contacto, como teléfono y correo, dirección del consultorio u hospital, especialización, etc).</li>
       <li> Si es especialista, ingrese el número de pacientes que desea atender presionando sobre las flechas o escribiéndolo manualmente, el mínimo es 1 y el máximo son 30. </li>
      </ol>
    </h6> 
    <h6> Una vez que haya terminado de llenar todos los campos, presione "Registrarse" y listo, ¡Ya dispondra de su perfil de usuario! </h6>
    <br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: lightcoral;">Aceptar</a>
  </div>
</div>


{% endblock %}