<html>

<body>
    <footer class="page-footer red lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Zeitgeist</h5>
                    <p class="white-text"> Proyecto estudiantil como proceso de titulación que busca apoyar a especialistas a brindar tratamiento no farmacológico a pacientes con DCL.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Referencias</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.ipn.mx/" target="_blank"> Instituto Politécnico Nacional </a></li>
                        <li><a class="white-text" href="https://www.escom.ipn.mx/" target="_blank"> Escuela Superior de Cómputo </a></li>    
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Conexiones</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Enlace 1</a></li>
                        <li><a class="white-text" href="#!">Enlace 2</a></li>
                        <li><a class="white-text" href="#!">Enlace 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright 2021 Zeitgeist Inc. Todos los derechos reservados.
            </div>
        </div>
    </footer>
</body>

</html>
