{% extends "Usuarios/baseIndex.html" %}

{% block title%} Iniciar sesión {% endblock %}

{% block content %}
{% load static %}
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="{% static 'images/login.jpg' %}" style="opacity: 1;"></div>

  <div class="container">
    <div class="row">
      <div class="col s12 m1">
      </div>
      <div class="col s12 m10 cuadro">
        <div class="col s12 m2">
        </div>
        {% if form.errors %}
        <p style="color: red;">Por favor revisa este campo</p>
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
          <div class="col s12 m8">
            <table class="white-text">
              {{form.as_table}}
            </table>

            <div class="col s12 m6 offset-m5">
              <button class="btn waves-effect waves-light botones" type="submit" name="action"> Ingresar <i
                  class="material-icons right">send</i></button>
            </div>
        </form>
      </div>
      <div class="col s12 m6 center">
        <p> ¿Olvidó su contraseña? <a href="Usuarios/recuperarPass.html"> De clic aquí </a> </p>
      </div>
      <div class="col s12 m6 center">
        <p> ¿No tiene cuenta? <a href="Usuarios/index.html"> Regístrese aquí </a> </p> <!-- <a href="Usuarios/resetPwd.html"> -->
      </div>
    </div>
    <div class="col s12 m1">
    </div>
    <br>
  </div>
</div>
</div>

<script>
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>
{% endblock %}
