{% extends "Usuarios/baseIndex.html" %}

{% block title%} Recuperar Contraseña {% endblock %}

{% block content %}
{% load static %}

      <div class="container">
        <div class="row img_fondo_passwd">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro_Passwd">
            <div class="col s12 m2">
            </div>
            <div class="col s12 m8">
              <h1> ¿Olvidaste la contraseña? </h1>
              <h5> Introduce la dirección de correo electrónico que ingresaste para registrarte. Te enviaremos un enlace para reestablecer tu contraseña. </h5> 
            </div>
            <div class="col s12 m2">
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <label> Correo electrónico </label>
                <input id="email" type="email" class="validate">
                <span class="helper-text" data-error="Error" data-success="Correcto"></span>
              </div>
              <div class="col s6 offset-s4">
                <button class="btn waves-effect waves-light botones_passwd" type="submit" name="action"> Enviar enlace <i class="material-icons right">send</i></button>
              </div>
            </div>
            <div class="col s5 offset-s7">
              <p> Volver a <a href="inicioSesion.html"> Iniciar sesión </a> </p> 
            </div>
          </div>
          <div class="col s12 m1">
          </div>
        </div>
      </div>


{% endblock %}

