{% extends "Usuarios/baseIndex.html" %}

{% block title%} Registro de usuario {% endblock %}

{% block content %}
{% load static %}

    <div class="container img_fondo_regA">
      <div class="row">
        <div class="col s12 m1">
        </div>
        <div class="col s12 m10 cuadro">
              <br>
	      <div class = "row">
			  	{% if "ya_existe_registro" in request.GET %}
          			<div style="background-color: lightcoral; font-size: 18px; text-align: center;" class="container error">
            			<p> El usuario que intentas registrar ya existe, prueba crear otro usuario o dirígete a la sección de recuperación de contraseña si la has olvidado (<strong><a href="{% url 'Recuperar' %}">presiona aquí</a></strong>).</p> 
          			</div>
        		{% endif %}
				{% if "no_valido" in request.GET %}
          			<div style="background-color: salmon; font-size: 18px;" class="container error">
            			<p style="text-align: center;"> Ha habido un problema en el registro, asegúrate de tomar en cuenta lo siguiente:
						<ol style="padding-bottom: 15px;">
							<li> Escribir un correo electrónico válido. </li>
							<li> El nombre de usuario debe tener máximo 20 caracteres. </li>
						</ol></p>
          			</div>
        		{% endif %}
				{% if "error_contrasena" in request.GET %}
          			<div style="background-color: lightsalmon; font-size: 18px; text-align: center;" class="container error">
            			<p> Asegúrate de escribir una contraseña de al menos 8 caracteres, combinando números y letras mayúsculas y minúsculas. </p>
          			</div>
        		{% endif %}
				{% if "contrasenas_no_coinciden" in request.GET %}
          			<div style="background-color: coral; font-size: 18px; text-align: center;" class="container error">
            			<p> La contraseña introducida no coincide con su confirmación. Por favor, inténtalo de nuevo. </p>
          			</div>
        		{% endif %}
              	<div class="col s12 m6 offset-m2 ">
               		<h6 class="white-text"> Estás intentando registrarte como: </h6>
              	</div>
              	<div class="col s12 m4 ">
	      			<h6 style="color: white;"><u> Administrador </u></h6>
                </div>
	      </div>
	      <br>
          <div class="row">
		<div class="col s12">
			{% if form.errors %}
			<p style="color: red;">Por favor revisa este campo</p>
			{% endif %}
			<form action="" method="POST" class="white-text"> {% csrf_token %}
			  <div class="col s12 m8  offset-m1">
			    <table>
			      {{form.as_table}}
			    </table>

			    <div class="col s12 m6 offset-m5">
			      <button class="btn waves-effect waves-light botones" type="submit" name="action"> Ingresar <i
				  class="material-icons right">send</i></button>
			    </div>
			</form>
		</div>	
	  </div>
	</div>
      </div>
      <div class="col s12 m1">
      </div>
     <br>
   </div>
 </div>

{% endblock %}

