{% extends "Usuarios/baseIndex.html" %}

{% block title%} Registro de usuario {% endblock %}

{% block content %}
{% load static %}

    <div class="container">
      <div class="row img_fondo_regC">
        <div class="col s12 m1">
        </div>
         <div class="col s12 m10 cuadro">
              <br>
	      <div class = "row">
              	<div class="col s12 m6 offset-m2 ">
               		<h6 class="white-text"> Usted está intentando registrarse como: </h6>
              	</div>
              	<div class="col s12 m4 ">
                	<!-- <select class="browser-default"
                	 <option value="" disabled selected> Elige la opción </option>
                	 <option value="1"> Administrador </option>
                	 <option value="2"> Cuidador </option>
               		 <option value="3"> Especialista </option>
               		 <option value="4"> Paciente </option>
              		</select> -->
	      		<h6 class="white-text"> Cuidador </h6>
                </div>
	      </div>
	      <br>
          <div class="row">
		<div class="col s6">
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Nombre completo: </label>
			<input id="text" type="text" class="validate white-text">
			<span  data-error="Error" data-success="Correcto"></span>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Nombre de usuario: </label>
			<input id="text" type="text" class="validate white-text">
			<span  data-error="Error" data-success="Correcto"></span>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Correo electrónico: </label>
			<input id="email" type="email" class="validate white-text">
			<span class="helper-text" data-error="Error" data-success="Correcto"></span>
		  </div>
		</div>
		<div class="col s6">
		  <br>
		  <div class="input-field col s12 m6 offset-m3 white-text">
			<label for="password" class="white-text"> Contraseña </label>
			<input id="password" type="password" class="validate white-text">
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text">
			<label for="password" class="white-text"> Confirmar contraseña </label>
			<input id="password" type="password" class="validate white-text">
		  </div>
		</div>
				
		<div class="col s12 m6 offset-m5">
		  <br>
		  <button class="btn waves-effect.waves-red botones black-text" type="submit" name="action" > Aceptar <i class="material-icons right">send</i></button>
		 </div>
	</div>
      </div>
      <div class="col s12 m1">
      </div>
     <br>
   </div>
 </div>

{% endblock %}

