{% extends "Usuarios/baseIndex.html" %}

{% block title%} Registro de usuario {% endblock %}

{% block content %}
{% load static %}

    <div class="container">
      <div class="row img_fondo_regC">
        <div class="col s12 m1">
        </div>
        <div class="col s12 m10 cuadro">
              <br>
	      <div class = "row">
              	<div class="col s12 m6 offset-m2 ">
               		<h6 class="white-text"> Usted está intentando registrarse como: </h6>
              	</div>
              	<div class="col s12 m4 ">
                	<!-- <select class="browser-default"
                	 <option value="" disabled selected> Elige la opción </option>
                	 <option value="1"> Administrador </option>
                	 <option value="2"> Cuidador </option>
               		 <option value="3"> Especialista </option>
               		 <option value="4"> Paciente </option>
              		</select> -->
	      		<h6 class="white-text"> Cuidador </h6>
                </div>
	      </div>
	      <br>
          <div class="row">
		<div class="col s12">
		  <!--<div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Nombre completo: </label>
			<input id="text" type="text" class="validate white-text">
			<span  data-error="Error" data-success="Correcto"></span>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Nombre de usuario: </label>
			<input id="text" type="text" class="validate white-text">
			<span  data-error="Error" data-success="Correcto"></span>
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text "> 
			<label class="white-text"> Correo electrónico: </label>
			<input id="email" type="email" class="validate white-text">
			<span class="helper-text" data-error="Error" data-success="Correcto"></span>
		  </div>
		</div>  
		<div class="col s6">
		  <br>
		  <div class="input-field col s12 m6 offset-m3 white-text">
			<label for="password" class="white-text"> Contraseña </label>
			<input id="password" type="password" class="validate white-text">
		  </div>
		  <div class="input-field col s12 m6 offset-m3 white-text">
			<label for="password" class="white-text"> Confirmar contraseña </label>
			<input id="password" type="password" class="validate white-text">
		  </div>
		</div>
	   -->
			{% if form.errors %}
			<p style="color: red;">Por favor revisa este campo</p>
			{% endif %}
			<form action="" method="POST" class="white-text"> {% csrf_token %}
			  <div class="col s12 m8  offset-m1">
			    <table class="white-text">
			      {{form.as_table}}
			    </table>

			    <div class="col s12 m6 offset-m5">
			      <button class="btn waves-effect waves-light botones" type="submit" name="action"> Ingresar <i
				  class="material-icons right">send</i></button>
			    </div>
			</form>
		</div>	
	  </div>
	</div>
      </div>
      <div class="col s12 m1">
      </div>
     <br>
   </div>
 </div>

{% endblock %}

