{% extends "Usuarios/baseIndex.html" %}

{% block title%} Registro de usuario {% endblock %}

{% block content %}
{% load static %}

      <div class="container img_fondo_regP">
        <div class="row ">
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro">
              <br>
	      <div class = "row">
              	<div class="col s12 m6 offset-m2 ">
               		<h6 class="white-text"> Usted está intentando registrarse como: </h6>
              	</div>
              	<div class="col s12 m4 ">
                	<!-- <select class="browser-default"
                	 <option value="" disabled selected> Elige la opción </option>
                	 <option value="1"> Administrador </option>
                	 <option value="2"> Cuidador </option>
               		 <option value="3"> Especialista </option>
               		 <option value="4"> Paciente </option>
              		</select> -->
	      		<h6 class="white-text"> Paciente </h6>
                </div>
	      </div>
	      <br>
              <div class="row">
			{% if form.errors %}
				<p style="color: red;">Por favor revisa este campo</p>
			{% endif %}
			<form action="" method="POST" > {% csrf_token %}
			  <div class="col s12 m8  offset-m1">
			    <table class="white-text" style="font-size: 30px;">
			      {{form.as_table}}
			    </table>

			    <div class="col s12 m6 offset-m5">
			      <button class="btn waves-effect waves-light botones" type="submit" name="action"> Ingresar <i
				  class="material-icons right">send</i></button>
			    </div>
			  </div>
			</form>
	      </div>
	  </div>
	</div>	
      </div>

{% endblock %}
	  <!-- <script>
					
		$(document).ready(function(){
			$('.datepicker').datepicker();
		});

		$(document).ready(function(){
			$('#paciente_fNac').pickadate({
				selectMonths: true, // Creates a dropdown to control month
				selectYears: 100, // Creates a dropdown of 100 years to control year,
				today: 'Today',
				clear: 'Clear',
				close: 'Ok',
				closeOnSelect: false // Close upon selecting a date,
			});
		});
			
		$(document).ready(function(){
			$('#paciente_fDiag')pickadate({
				selectMonths: true, // Creates a dropdown to control month
				selectYears: 100, // Creates a dropdown of 100 years to control year,
				today: 'Today',
				clear: 'Clear',
				close: 'Ok',
				closeOnSelect: false // Close upon selecting a date,
			});
		});
			
		<!-- $(document).ready(function(){  -->
			 <!-- $('#paciente_fDiag').datepicker();  -->
				<!-- });  -->
	 
<!-- 

				<div class="col s6">
				  <div class="input-field col s12 m6 offset-m3 white-text "> 
					<label class="white-text"> Nombre completo: </label>
					<input id="text" type="text" class="validate white-text">
					<span  data-error="Error" data-success="Correcto"></span>
				  </div>
				  <div class="input-field col s12 m6 offset-m3 white-text "> 
					<label class="white-text"> Nombre de usuario: </label>
					<input id="text" type="text" class="validate white-text">
					<span  data-error="Error" data-success="Correcto"></span>
				  </div>
				  <div class="input-field col s12 m6 offset-m3 white-text "> 
					<label class="white-text"> Correo electrónico: </label>
					<input id="email" type="email" class="validate white-text">
					<span class="helper-text" data-error="Error" data-success="Correcto"></span>
				  </div>
				  <div class="input-field col s12 m6 offset-m3 white-text">
					<label for="password" class="white-text"> Contraseña </label>
					<input id="password" type="password" class="validate white-text">
				  </div>
				  <div class="input-field col s12 m6 offset-m3 white-text">
					<label for="password" class="white-text"> Confirmar contraseña </label>
					<input id="password" type="password" class="validate white-text">
				  </div>
				</div>
				<div class="col s6">
				  <div class="input-field col s12 m6 offset-m2 white-text "> 
					<div class="input-field col s12 white-text "> 
						<label class="white-text">  Género: </label>
					</div>
					<br><br>
					<div class="input-field col s12 white-text "> 
						<div class="row ">
						<div class="col s4">
							<input class="with-gap" name="groupGenero" type="radio" checked />
							<span class="white-text">Femenino</span>
						</div>
						<div class="col s4 offset-m4">
							<input class="with-gap" name="groupGenero" type="radio" disabled />
							<span class="white-text">Masculino</span>
						</div>
						</div>
					</div> 
				  </div>
				  <div class="input-field col s12 m6 offset-m2 white-text "> 
					<label class="white-text" for="paciente_fechaNac">  Fecha de nacimiento: </label>
					<input id="paciente_fNac" type="text" class="datepicker white-text">	
				  </div>
				  <div class="input-field col s12 m6 offset-m2 white-text "> 
					<div class="input-field col s12 white-text "> 
						<label class="white-text">  Escolaridad: </label>
					</div>
					<br>
					<div class="input-field col s12 white-text "> 
					</div>
					<div class="input-field col s12 white-text ">
					<select class="browser-default">
					  <option value="" disabled selected> Elige la opción </option>
					  <option value="1"> Primaria</option>
					  <option value="2"> Secundaria </option>
					  <option value="3"> Bachillerato </option>
					  <option value="4"> Licenciatura o superior </option>
					</select>
					</div>
				  </div> 
				  <div class="input-field col s12 m6 offset-m2 white-text "> 
					<label class="white-text">  Fecha de diagnóstico: </label>
					<input id="paciente_fDiag" type="text" class="datepicker white-text">	
				  </div>
				  <br>
				</div>
				
				<div class="col s12 m6 offset-m5">
				  <br>
				  <button class="btn waves-effect.waves-red botones black-text" type="submit" name="action" > Aceptar <i class="material-icons right">send</i></button>
				</div>
			      </div>
-->
