<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="grey lighten-3">
    <div class="navbar-fixed">
        <nav class="red lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a href="{% url 'Index' %}" class="brand-logo dark-text darken-3 titulo"> Zeitgeist </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons left">message</i>Mensajes</a></li>
                    <li><a href="#!"><i class="material-icons left">publish</i>Subir datos</a></li>
                    <li><a href="#"><i class="material-icons left">playlist_add_check</i>Resultados</a></li>
                    <li><a href="#"><i class="material-icons left">search</i></a></li>
                    <li><a  class='dropdown-trigger' href='#' data-target='dropdown2'><i class="material-icons left">account_circle</i></a></li>
                        <ul id='dropdown2' class='dropdown-content' style="color: #333">
                            <li><a href="#!"> Editar Perfil</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="modal-trigger" href="#modalCerrarSesion"> Cerrar Sesión</a></li>
                        </ul>
                    <li><a href="#"><i class="material-icons left">help</i></a></li>

                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

   <div id="modalCerrarSesion" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center;">¿Está seguro de cerrar la sesión?</h4>
      <hr><br>
      <h6 style="text-align: center;"> Si es así, apriete el botón "Aceptar", en caso contrario presione "Cancelar". </h6>
      <br>
      <div class="row">
        <div class="col s6 center">
            <a href="#!"  class="waves-effect waves-green btn-flat" style="color: #fff; background-color: rgb(33, 185, 33);"  name="cerrarSesion">&nbsp; Aceptar &nbsp;</a>
        </div>
        <div class="col s6 center">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: salmon;">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
  
    {% block content %}
    {% endblock %}

    </div>

    {% include "Usuarios/footer.html" %}
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#modalDatos').modal();
            $('#modal1').modal();
        });

    </script>
    <script>
        $(".dropdown-trigger").dropdown();
    </script>
    <script>
        $(document).ready(function () {
            $('#modalCerrarSesion').modal();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#modalEdit').modal();
        });
    </script>

    {% if clave %}
    <script>
      var $ =jQuery.noConflict();
      $(document).ready(function(){
          $('#modalCve').modal();
          $('#modalCve').modal('open'); 
      });
    
    </script>
    {% elif exito %}
    <script>
        var $ =jQuery.noConflict();
        $(document).ready(function(){
            $('#modalCveNo').modal();
            $('#modalCveNo').modal('open'); 
        });      
      </script>
    {% endif %}
</body>

</html>