{% extends "Administrador/baseAdministrador.html" %}

{% block title%} Modificar Relaciones {% endblock %}

{% block content %}
	
{% load static %}
		
      <div class="container  modificar_relacion_img">
        <div class="row">  <!--<img src="{% static 'images/contrasena.jpg' %}" alt="Adulto mayor">-->
          <div class="col s12 m1">
          </div>
          <div class="col s12 m10 cuadro_admin" style="padding-bottom: 4%; margin-bottom: 5%;">
            <div class="row" style="padding-top: 3%;">
            </div>
            <div class="col s12 m12" style="background-color: #333; color: white;">
              <h6 style="text-align: center;"> Escriba en el recuadro en blanco el nombre de un paciente (ya sea nombre de usuario o nombre COMPLETO).  </h6> 
            </div>
            <div class="col s12 m2">
            </div>
            <div class="row" style="padding-top: 7%; padding-bottom: 5%;">
              {% if form.errors %}
			          <p style="color: red;">Por favor revise este campo</p>
			        {% endif %}
			        <form action="" method="POST" class="white-text"> {% csrf_token %}
                <div class="col s12 m8 offset-m1">
                  <div> 
                    <table style="color:white">
                      {{form.as_table}}
                    </table>
                  </div>
                </div>
                <div class="col s12 m3" style="padding-top: 1%;">
                  <button class="btn waves-effect waves-light botones_passwd" type="submit" name="buscar"><i class="material-icons center">search</i></button>
                </div>
              </form>
              {% if "valido" in request.GET %}
                <div id="modalModRels" class="modal">
                  <div class="modal-content">
                    <h4 style="text-align: center;">¡El paciente ha sido encontrado!</h4>
                    <hr><br>
                    <h6 style="text-align: center;"> Aqui irá un formulario para poder agregar el nombre de usuario de cuidador y paciente </h6>
                    <br>
                    <div class="row">
                      <div class="col s12 offset-m8" style="margin-top: 10%;">
                          <a href="#!" class="modal-close waves-effect waves-red btn-flat" style="color: #fff; background-color: salmon;">Cancelar</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if "no_valido" in request.GET %}
                <div id="modalModRels" class="modal">
                  <div class="modal-content">
                    <br>
                    <h6 style="text-align: center;"> El paciente no ha sido encontrado. <br><br> Por favor, asegurese de escribir correctamente el nombre de usuario o el nombre completo del paciente que desea modificar. </h6>
                    <br><br>
                    <div class="row">
                      <div class="col s12 center">
                          <a href="{% url 'modificarRels'%}"  class="waves-effect waves-green btn-flat" style="color: #fff; background-color: rgba(83, 143, 83, 0.671);"  name="cerrarModal">&nbsp; Aceptar &nbsp;</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col offset-m8" style="background-color: #333;">
              <p style="color:white; font-size: 16px;"> Para regresar al inicio,
              <a href="{% url 'inicio' %}"><strong> Presione aquí</strong> </a></p> 
            </div>
          </div>
        </div>
      </div>

  

{% endblock %}	
    