{% extends "Cuidador/baseCuidador.html" %}

{% block title%} Ingresar datos reminiscencia {% endblock %}

{% block content %}
{% load static %}

   <div class="row img_fondo_ingrDatos">
		  <div class="col s12 m1 saludo">
				<h1 class="bold gray-text"> ¡Hola, bienvenido/a! </h1>
				<br><br>
          </div>
		  <div class="col s12 espacio esp_inic  ">
			<h5 class="gray-text col s12"> Sabemos que quiere lo mejor para el paciente que está a su cargo, por lo que para ofrecerle un apoyo de calidad y ayudar al paciente de manera eficiente, requerimos que siga las siguientes instrucciones. </h5>
		  </div>
	</div>
         

	<div class="col s12 cuadro">
		<div class="col s12 m2">
		</div>
		<div class="col s12 m8 esp_inic">
		   <h2 class="bold white-text"> Una imagen dice más que mil palabras </h2>
		</div>
		<div class="row">
			<div class="col s6">
				<form action="" method="POST"> {% csrf_token %}
						
				</form>
			</div>
			<div class="col s12 m6 offset-m5 fin">
			  <br>
			  <button class="btn waves-effect.waves-blue botonSig white-text" type="submit" name="action"> Siguiente<i class="material-icons right">send</i></button>
			</div>
	   </div>
	</div> 
   {% endblock %}