{% extends "Cuidador/baseCuidador.html" %}

{% block title%} Inicio Cuidador{% endblock %}


{% block content %}
{% load static %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot row">
    <div class="container">
      <h1 class="header grey-text text-darken-4 valign-wrapper">¡Hola María!</h1>
      <h1 class="header grey-text text-darken-4">Bienvenida</h1>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/Cuidador.jpg' %}" alt="Unsplashed background img 1"></div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4>¡Esto podría interesarte!</h4>
        <div class="carousel carousel-slider center">
          <a class="carousel-item" href="#one!"><img src="{% static 'images/carrusel1.png' %}"></a>
          <a class="carousel-item" href="#two!"><img src="{% static 'images/carrusel2.png' %}"></a>
          <a class="carousel-item" href="#three!"><img src="{% static 'images/carrusel3.png' %}"></a>
          <a class="carousel-item" href="#four!"><img src="{% static 'images/carrusel4.png' %}"></a>
          <a class="carousel-item" href="#five!"><img src="{% static 'images/carrusel5.png' %}"></a>
          <a class="carousel-item" href="#six!"><img src="{% static 'images/carrusel6.png' %}"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>¿Que deseas hacer el día de hoy?</h4>

      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{% static 'images/ingresoDatos.png' %}">
    </div>
    <div class="card-stacked">
      <div class="card-content red lighten-2">
        <br>
        <h3 class="center-align">Es tiempo de actualizar información.</h3>
        <h5 class="center-align">¿Quieres ingresar nuevos datos a reminiscencia?</h5>
        <br><br>
        <div class="row">
          <div class="col s12 center"> <a href="{% url 'datosRem' %}" class="waves-effect waves-light btn-large"
              name="adatosRem">Presiona aquí</a></div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content green lighten-2">
        <br>
        <h3 class="center-align">¿Es hora de tratamiento no farmacológico?</h3>
        <h5 class="center-align">¡Genere clave de acceso!</h5>
        <br><br>
        <div class="row">
          <div class="col s6 center"> <a href="{% url 'Cve' %}" class="waves-effect waves-light btn-large"
              name="btngenCveR">Reminiscencia</a></div>
          <div class="col s6 center"> <a href="#" class="waves-effect waves-light btn-large" name="btngenCveS">Sopa de
              letras</a></div>
        </div>
        <div class="row">
          <div class="col s6 center"> <a href="{% url 'GetCve' %}" class="waves-effect waves-light btn-flat"
              name="agenCveR">¿Iniciaste la sesión y no recuerdas la clave?</a></div>
          <div class="col s6 center"> <a href="#" class="waves-effect waves-light btn-flat" name="agenCveS">Iniciaste la
              sesion y no recuerdas la clave?</a></div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="card-image">
      <img src="{% static 'images/tratamiento.png' %}">
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Acciones post-prueba.</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <section class="center">
    <div class="col s12 m6">
      <div class="card-content grey lighten-2">
        <img src="{% static 'images/recomendacion.jpg' %}" width="655px" height="370px">
        <h5 class="card-title center"> El médico te recomienda... </h5>
        <p><a class="waves-effect waves-light btn botones"> De clic aquí </a></p><br>
        <p></p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-content grey lighten-1">
        <img src="{% static 'images/avance.jpg' %}" width="655px" height="370px">
        <h5 class="card-title center"> Veamos el avance </h5>
        <p><a class="waves-effect waves-light btn botones"> De clic aquí </a></p><br>
        <p></p>
      </div>
    </div>
  </section>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4>Esto te puede interesar.</h4>
        <img src="{% static 'images/cursos.png' %}">
      </div>
    </div>
  </div>
</div>

<div id="modalCve" class="modal">
  <div class="modal-content center">
    <h4>Aquí tienes la clave de acceso para que tu paciente pueda realizar su sesión de reminiscencia de hoy</h4>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card-panel teal">
            <span class="white-text">{{clave}}</span>
          </div>
        </div>
      </div>
    </div>
    <p>Dale esta clave a tu paciente, será su acceso a su sesión de reminiscencia.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#">Gracias, de acuerdo.</a>

  </div>
</div>

<div id="modalCveNo" class="modal">
  <div class="modal-content center">
    <h4>Lo siento, hay una sesión pendiente de tu paciente, debe terminarla primero</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#">De acuerdo</a>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, {
      duration: 200,
      indicators: true
    });
  });
</script>
{% endblock %}